//PLEASE MAKE USE OF CssVars.less VARIABLES TO MAKE AN EASY TO MANTAIN AND A COHESIVE THEME
@import "../default/CssVars.less";

//BODY

body, main {
    color: @txt-color;
    background-color: @bg-color; // @bg-color;
    font-family: 'Overpass', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

input {
    background-color: @input-background-color;
    border-color: @input-border-color;
    color: @input-text-color;
    border-style: solid;
}

.input-group-addon {
    border: 0 solid @input-border-color;
    border-bottom: 1px solid @input-border-color;
    background-color: transparent;
    border-radius: 0;
    color: @input-text-color;
}

input[type="date"]::-webkit-calendar-picker-indicator, input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(0.8);
}

input[type="date"]::-webkit-calendar-picker-indicator:hover, input[type="datetime-local"]::-webkit-calendar-picker-indicator:hover {
    opacity: 1;
    color: bdcolor(OutstandingColor);
}

.ui-widget-content {
    color: @txt-color;
}

.panel {
    color: @txt-color;
    background-color: @module-color;
    border-color: @input-border-color;
}

body[mode="dark"] .ui-widget-content {
    background-color: @bg-color;
}

header {
    background-color: @header-color;
    box-shadow: 0px 3px 7px #0e0a0a15;
}

#mainNav{
    box-shadow: 7px 0px 7px #0e0a0a15;
}

label:hover {
    color: @outstanding-color;
}

.bootstrap-tagsinput {
    color: @input-text-color;
    background-color: @input-background-color;
    border-color: @input-border-color;
    border: none;
}
input[type="search"] {
    border: none;
    outline: none;
}

//h1, h2, h3, h4, h5, h6
h1 {
    display: block;
    letter-spacing: -1px;
    font-size: 22px;
    margin: 10px 0;
}

h2 {
    display: block;
    letter-spacing: -1px;
    font-size: 20px;
    margin: 10px 0;
}

h3 {
    display: block;
    font-size: 18px;
    font-weight: 400;
    margin: 8px 0;
}

h4 {
    display: block;
    font-size: 17px;
    margin: 4px 0;
}

h5 {
    font-size: 16px;
    margin: 10px 0;
}

h6 {
    font-size: 14px;
    margin: 0 0;
    font-weight: 700;
}

h1, h2, h3, h4, h5 {
    font-weight: 300;
    line-height: normal;
}

//Form control
.form-control, .input-group, flx-view .form-control.input-view {
    border: none;
    border-bottom: 1px solid @input-border-color;
    color: @input-text-color;
    background-color: @input-background-color;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
    border-collapse: inherit;
}

flx-view flx-text > div.input-group > label {
    border: none !important;
}

flx-view flx-text div.input-group-btn > button {
    border: none !important;
}

.form-control:focus, .input-group:focus {
    border-color: @info-color;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-collapse: collapse;
}

.input-group .input-group-btn {
    border:none;
}
.input-group .form-control, .input-group .input-group-addon, flx-list[mode="edit"] .input-group {
    border-bottom: 0;
}

flx-list[mode="edit"] input,
flx-edit .item [data-tag=control] .btn,
flx-edit .bootstrap-tagsinput {
    border: inherit;
    border-bottom: inherit;
    color: inherit;
    background-color: inherit;
    box-shadow: inherit;
    -webkit-box-shadow: inherit;
    border-radius: inherit;
}

flx-list[mode="edit"] flx-image {
    height: 30px;
}

flx-list[mode="edit"] flx-tag {
    > div {
        border: none;
    }

    .bootstrap-tagsinput {
        background: transparent;
        box-shadow: none;
    }
}

.form-control, flx-dependencymanager .bootstrap-tagsinput {
    padding: 5px 0px
}

.form-control[Disabled], & input[type="radio"][disabled], & input[type="checkbox"][disabled], & input[type="radio"].disabled, & input[type="checkbox"].disabled, & fieldset[disabled] input[type="radio"], & fieldset[disabled] input[type="checkbox"] {
        background-color: #f7f7f7 !important;
}

[disabled] .input-group-btn, [disabled] .input-group-addon {
    background-color: #f7f7f7;
}

flx-tag[Disabled] > div > div, flx-code[Disabled] > div {
    background-color: #f7f7f7; //OLD -> @module-color
    color: @txt-color;
    opacity: 1;
}
:is(flx-tag,flx-multicombo)[Disabled] .bootstrap-tagsinput span.tag.label.label-info {
    background-color: #b8b8b8 !important;
}
[mode="dark"] {
    & .form-control[Disabled], & input[type="radio"][disabled], & input[type="checkbox"][disabled], & input[type="radio"].disabled, & input[type="checkbox"].disabled, & fieldset[disabled] input[type="radio"], & fieldset[disabled] input[type="checkbox"] {
        background-color: #303030 !important;
    }

    & [disabled] .input-group-btn, & [disabled] .input-group-addon {
        background-color: #303030;
    }

    & flx-tag[Disabled] > div > div, & flx-code[Disabled] > div {
        background-color: #303030;
    }

    & flx-dbcombo[disabled] > div > div .flx-caret, & flx-multicombo[disabled] > div > div {
        background-color: #303030;
    }

    & :is(flx-whiteboard,flx-image) .ctl-container-locked, flx-file input {
        background-color: #303030 !important;
    }

    :is(flx-image,flx-whiteboard) .ctl-container {
        border-color: #ccc;
    }

    flx-propertymanager {
        :is(flx-image,flx-whiteboard) {
            div.ctl-container.ctl-cpr-transition.form-control.ctl-container-locked .flx-icon.icon-pencil.ctl-icon.ctl-cpr-transition {
                color: darken(#ccc,55);
            }
        }
    }
}


flx-tag > div {
    border-bottom: 1px solid @input-border-color;
}

flx-view flx-tag .form-control.input-view{

    border-bottom: none;
}

.has-success .control-label, has-success .label {
    color: @input-text-color;
}

.has-success .form-control, .input-group.has-success {
    color: @txt-color;
    border-color: @input-border-color;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-success .form-control:focus, .input-group.has-success:focus, .input-group:focus-within {
    border-color: @info-color;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-success .input-group-addon, .has-success .input-group-btn .btn {
    color: @input-text-color;
    border-color: @input-border-color;
}

.has-success .input-group-addon {
    background-color: @input-background-color;
}

.has-error .control-label, has-error .label {
    color: @danger-color;
}

.has-error .form-control, .input-group.has-error {
    color: @danger-color;
    border-color: @danger-color;
}

.has-error .form-control:focus, .input-group.has-error:focus {
    border-color: @danger-color;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-error .input-group-addon, .has-error .input-group-btn .btn {
    color: @danger-color;
    border-color: @danger-color;
}

.has-error .input-group-addon {
    background-color: @input-background-color;
}

.has-warning .control-label, has-warning .label {
    color: @warning-color;
}

.has-warning .form-control {
    color: @warning-color;
    border-color: @warning-color;
}

.has-warning .form-control:focus {
    border-color: @warning-color;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-warning .input-group-addon, .has-warning .input-group-btn .btn {
    color: @warning-color;
    border-color: @warning-color;
}

.has-warning .input-group-addon {
    background-color: @input-background-color;
}



flx-edit .bootstrap-tagsinput input {
    border: none !important;
}

flx-check label {
    border: solid 1px @input-border-color;
}

flx-dbcombo[disabled] > div > div .flx-caret, flx-multicombo[disabled] > div > div {
    background-color: #f7f7f7;
    color: @txt-color;
    border: none;
}

flx-multicombo > div > div.bootstrap-tagsinput, flx-tag > div > div.bootstrap-tagsinput {
    border: unset;
}

flx-multicombo div.input-group {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-color: @input-border-color;
}

flx-tag > div.has-error {
    border-color: @danger-color
}

.bootstrap-tagsinput {
    border-radius: 0 !important;
}


flx-edit .item [data-tag=control] .btn:hover {
    color: @outstanding-color;
}

//Filter

/*flx-filter .item [data-tag=control] input {
            border-color: @input-border-color;
            border-radius: 0;
            color: @input-text-color;
        }*/

flx-filter .filter-control .btn.btn-default {
    color: @input-text-color;
    background-color: transparent;
    border: none;
    //border-bottom: 1px solid @input-border-color;
}

flx-filter .filter-control.filter-check label {
    color: @input-text-color;
    font-size: 12px;
    font-weight: normal;
}

flx-filter flx-range> div  {
    border-bottom: 1px solid @input-border-color;
    color: @input-text-color;
    padding-left:8px;
}

flx-filter flx-range > div > input{
    border-bottom: 1px solid @input-border-color;
    color: @input-text-color;
}

flx-filter .input-group {
    background-color: transparent;
}

flx-filter .input-group input {
    border: none;
}

flx-filter div.bootstrap-tagsinput:focus, flx-filter input.form-control:focus:not(.search), flx-filter flx-multicombo > div.input-group.opened
/*, flx-filter .filter-check:focus-within*/
, flx-filter flx-range > div > input[value][type="date"].form-control {
    background-color: @module-color;
    border-radius: @border-radius;
    //border: 1px solid transparent;
    box-shadow: 5px 5px 7px #0e0a0a15;
}

flx-filter div.bootstrap-tagsinput:focus
, flx-filter flx-text div:focus-within
, flx-filter flx-multicombo div:focus-within
/*, flx-filter .filter-check:focus-within*/{
    border: 1px solid transparent;
}

.filterPanel flx-text input.form-control:not(:placeholder-shown):not([type=date])
, .filterPanel flx-multicombo:not([value=""]) .input-group
, .filterPanel flx-text[type=date]:not([value=""]) input
, .filterPanel .col-12 input.form-control:not(:placeholder-shown)
, .filterPanel flx-range input.form-control[value] {
    background-color: lighten(@bg-color,7);
    color: #515d68;
    border-radius: @border-radius;
}

body[mode="dark"] {
    .filterPanel flx-text input.form-control:not(:placeholder-shown):not([type=date]), .filterPanel flx-multicombo:not([value=""]) .input-group, .filterPanel flx-text[type=date]:not([value=""]) input, .filterPanel .col-12 input.form-control:not(:placeholder-shown), .filterPanel flx-range input.form-control[value] {
        color: @txt-color;
    }
}

.filterPanel flx-multicombo:not([value=""]) div, .filterPanel flx-text:not([value=""]) div, .filterPanel input.form-control:not(:placeholder-shown)
.filterPanel input.form-control:focus:not(.search) {
    border: 1px solid transparent;
}

.filterPanel input.form-control.search{
    border-bottom: 1px solid @input-border-color;
}

.filterPanel {
    & input.form-control, & div.filter-check {
        padding: 5px;
    }

    & flx-range > div {
        padding-left: unset;
    }

    & flx-multicombo > div.input-group > div.bootstrap-tagsinput > input {
        padding: 0;

        &::placeholder {
            color: @input-text-color;
        }
    }

    & flx-check[value=true] label, & flx-check[value=false] label {
        background: @module-color;
    }
}



//
//Filter Manager
flx-filtermanager {
    display: block;
    padding: 20px;
}

flx-filtermanager .list-group-item filterField .form-control {
    border: none;
}
//
//Module
flx-module .cntHeader {
    padding: 14px 20px 14px 20px;
    line-height: normal;
}

flx-module .cntHeader .cntTitle {
    font-weight: 600;
}

flx-module .cntHeader .cntButtons {
    font-size: 0.8em;

    .icon-sincronize {
        transition: transform 0.4s ease-in-out;
    }

    .icon-sincronize:hover {
        transform: rotate(-180deg);
    }
}


flx-module .cntBodyHeader, flx-module.default .cntBodyHeader {
    padding: 0px 16px 0px 16px;
    border: 0px none white;
}

flx-module .cntBody, flx-module.default .cntBody, flx-module.fullscreen {
    padding: 10px 16px 10px 16px;
    padding-left: 10px !important;
}



flx-module .cntIcon {
    font-size: 18px;
    vertical-align: middle;
}

flx-module .cntBodyHeader .moduleToolbar .btn i, flx-module .cntBodyFooter .moduleToolbar .btn i, flx-module .btn-toolbar .btn i {
    font-size: 1.0em;
    vertical-align: middle;
    border-width: 1.5px;
}

flx-module .cntBodyHeader .pager:not(.onlyPageInfo), flx-module .cntBodyFooter .pager:not(.onlyPageInfo) {
    font-size: 0.8em;
}

flx-module .cntBodyFooter {
    padding-bottom: 20px
}
//ModuleManager
.moduleManager {
    border-radius: @border-radius;

    #layoutPanel li div.item {
        background-color: @bg-color;
        color: @txt-color;

        &:hover {
            background-color: lighten(@outstanding-color,10);
            color: #fff;
        }

        .buttonList i {
            cursor: pointer;
        }
    }

    #moduleList ul{ 
        padding-bottom: 34px; //To allow evry element to be displayed when scrolling

        li {
            border: 1px solid @bg-color;
            border-radius: @border-radius;

            &:hover {
                background-color: @outstanding-color;
                border-color: @outstanding-color;

                div.box-primary {
                    background-color: @outstanding-color;
                    color: #fff;
                }
            }
        }
    }

    #moduleList li, #layoutPanel li {
        cursor: move;

        .item, .box-warning, .box-primary {
            cursor: move;
        }
    }

    .ui-sortable-placeholder {
        border: 1px solid @bg-color;
        border-radius: @border-radius;
    }
}

.moduleItem.ui-sortable-handle {
    .item {
        background-color: @bg-color;
        color: @txt-color;
        padding: 0.5em;
    }

    .item, .box-primary, .box-warning {
        border-radius: @border-radius;
    }
}

body[mode="dark"] .moduleManager {
    #moduleList li {
        border: 1px solid black;

        .box-primary {
            background-color: @bg-color;
            color: @txt-color;

            &:hover {
                background-color: @outstanding-color;
                color: white;
            }
        }
    }
}

//toolbar
.btn-toolbar {
    .btn {
        color: @toolbarbtntext-color;
        background-color: @toolbarbtn-color;
        border-radius: unset;

        &:not([class*="bg-"]) {
            border-color: @toolbarbtnborder-color;
        }
    }

    .saveButton {
        color: @toolbarbtntext-color;
        background-color: @toolbarbtn-color !important;
        border-color: @toolbarbtnborder-color;
        border-radius: unset;
    }
}

.cntBodyFooter .btn-toolbar {
    .saveReportButton, .execProcessButton {
        color: @toolbarbtntext-color;
        background-color: @toolbarbtn-color !important;
        border-color: @toolbarbtnborder-color;
        border-radius: unset;
    }
}

.btn-toolbar .btn:hover {
    border-color: @outstanding-color;
}

.btn-group>.btn:not(:first-child):not(:last-of-type):not(.dropdown-toggle) {
    border-radius: 0;
}

.btn-group>.btn:first-child:last-of-type
, .btn-group>.btn:first-child + [role="tooltip"]:last-child
, [role="tooltip"]:last-child + .btn-group>.btn:first-child:not(:last-child)
, [role="tooltip"]:first-child + .btn-group>.btn:first-child:not(:last-child)  {
    border-radius: @border-radius;
}

.btn-group>.btn:not(:first-child):not(button:last-of-type):not(.dropdown-toggle) {
    border-radius: 0;
}

.btn-group > .submenuContainer > .btn:last-of-type:not(:first-child), .btn-group > .submenuContainer > .dropdown-toggle:not(:first-child)
.btn-group > .btn:last-of-type:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    border-top-right-radius: @border-radius;
    border-bottom-right-radius: @border-radius;
}

.btn-group > .submenuContainer > .btn:not(button:last-of-type):not(.dropdown-toggle),
.btn-group > .btn:first-child:not(button:last-of-type):not(.dropdown-toggle) {
    border-top-left-radius: @border-radius;
    border-bottom-left-radius: @border-radius;
}

.btn-group > button.btn:first-child:last-of-type:not(.dropdown-toggle) {
    border-radius: @border-radius;
}

.btn-group > button.btn:not(:first-child):last-of-type:not(.dropdown-toggle) {
    border-top-right-radius: @border-radius;
    border-bottom-right-radius: @border-radius;
}

flx-module .cntHeader b {
    margin-right: 10px;
}
//LISTS

flx-list .flxRszTbl th {
    padding-top: 6px;
}

flx-search tr td, flx-search tr th,
flx-list .flxRszTbl tr td, flx-list .flxRszTbl tr th, .flx-list tr td, .flx-list tr th {
    color: @txt-color;
    border: 0;
    border-bottom: 1px solid @border-module-color;
}

.list-group-item {
    background-color: @bg-color;
    border-color: @input-border-color;
}

flx-filtermanager div.box {
    border-color: @input-border-color;
}

@media (max-width: @medium) {
    flx-search tr td, .flx-search tr th
    flx-list .flxRszTbl tr td, flx-list .flxRszTbl tr th, .flx-list tr td, .flx-list tr th {
        color: @txt-color;
        border: 0;
        border-bottom: 0px solid @border-module-color;
        padding-bottom: 10px;
    }
}

@media (max-width: @small) {
    flx-search tr td, flx-search tr th
    flx-list .flxRszTbl tr td, flx-list .flxRszTbl tr th, .flx-list tr td, .flx-list tr th {
        color: @txt-color;
        border: 0;
        border-bottom: 0px solid @border-module-color;
        padding-bottom: 10px;
    }
}

flx-search tr th,
flx-list .flxRszTbl tr th, .flx-list tr th {
    border-bottom-width: 2px;
    font-weight: 700;
    background-color: @list-header-color;
}

flx-search tr:nth-child(even):not(.rowHeader),
flx-list .flxRszTbl tr:nth-child(even):not(.rowHeader), .flx-list tr:nth-child(even):not(.rowHeader) {
    background-color: @list-even-color !important;
}

flx-search tr:nth-child(odd):not(.rowHeader),
flx-list .flxRszTbl tr:nth-child(odd):not(.rowHeader), .flx-list tr:nth-child(odd):not(.rowHeader) {
    background-color: @list-odd-color !important;
}

flx-list .flxRszTbl tr:nth-child(odd):not(.rowHeader).rowInsert {
    background-color: fade(darken(@notify-color,45), 70) !important;
}

body[mode="dark"] flx-list .flxRszTbl tr:nth-child(odd):not(.rowHeader).rowInsert {
    background-color: fade(white,45) !important;
}

flx-search tr:nth-child(even):not(.rowHeader):hover,
flx-list .flxRszTbl tr:nth-child(even):not(.rowHeader):hover, .flx-list tr:nth-child(even):not(.rowHeader):hover {
    background-color: @outstanding-color !important;
    color: @txt-outstanding-color !important;
}

flx-search tr:nth-child(odd):not(.rowHeader):hover, body[mode="dark"] flx-list .flxRszTbl tr:nth-child(odd):not(.rowHeader):hover,
flx-list .flxRszTbl tr:nth-child(odd):not(.rowHeader):hover, .flx-list tr:nth-child(odd):not(.rowHeader):hover {
    background-color: @outstanding-color !important;
    color: @txt-outstanding-color !important;
}

flx-search tr:not(.rowHeader):hover input:not([disabled]), flx-search tr:not(.rowHeader):hover input:not([disabled])::placeholder,
flx-list .flxRszTbl tr:not(.rowHeader):hover input:not([disabled]), flx-list .flxRszTbl tr:not(.rowHeader):hover input:not([disabled])::placeholder{
    color: white !important;
}

flx-search tr:not(.rowHeader):hover flx-multicombo input:not([disabled]), flx-search tr:not(.rowHeader):hover flx-dbcombo input:not([disabled]),
flx-list .flxRszTbl tr:not(.rowHeader):hover flx-multicombo input:not([disabled]), flx-list .flxRszTbl tr:not(.rowHeader):hover flx-dbcombo input:not([disabled]),
.flx-list tr:not(.rowHeader):hover flx-multicombo input:not([disabled]), .flx-list tr:not(.rowHeader):hover flx-dbcombo input:not([disabled]),
flx-search tr:not(.rowHeader):hover flx-multicombo input:not([disabled])::placeholder, flx-search tr:not(.rowHeader):hover flx-dbcombo input:not([disabled])::placeholder,
flx-list .flxRszTbl tr:not(.rowHeader):hover flx-multicombo input:not([disabled])::placeholder, flx-list .flxRszTbl tr:not(.rowHeader):hover flx-dbcombo input:not([disabled])::placeholder,
.flx-list tr:not(.rowHeader):hover flx-multicombo input:not([disabled])::placeholder, .flx-list tr:not(.rowHeader):hover flx-dbcombo input:not([disabled])::placeholder,
flx-list .flxRszTbl tr:nth-child(odd):not(.rowHeader).rowInsert flx-multicombo input:not([disabled])::placeholder,
flx-list .flxRszTbl tr:nth-child(odd):not(.rowHeader).rowInsert input:not([disabled])::placeholder, flx-list .flxRszTbl tr:nth-child(odd):not(.rowHeader).rowInsert flx-dbcombo input:not([disabled]),
flx-list .flxRszTbl tr:nth-child(odd):not(.rowHeader).rowInsert flx-dbcombo input:not([disabled])::placeholder {
    color: fade(white, 70) !important;
}

flx-list .flxRszTbl tr:nth-child(odd):not(.rowHeader).rowInsert input:not([disabled]),
flx-list .flxRszTbl tr:nth-child(odd):not(.rowHeader).rowInsert div.btn-group:not(.cronButtons) i {
    color: white;
}

flx-list[mode="edit"] {
    flx-text .input-group, flx-dbcombo .input-group, flx-multicombo .input-group, flx-multicombo .bootstrap-tagsinput, flx-combo .input-group, flx-combo .form-control {
        background-color: transparent;
    }

    .has-error {
        flx-text .input-group {
            border: none;
            border-bottom: 1px solid #b3b3b3;
            border-color: @danger-color;
        }

        input, i:not([title="Clean"]) {
            color: @danger-color !important;
        }
    }

    tr.rowInsert, tr:hover {
        flx-dbcombo .input-group-btn i, flx-multicombo i.input-group-btn i, flx-combo .input-group-btn i,
        flx-dbcombo .input-group-btn span, flx-multicombo i.input-group-btn span, flx-combo .input-group-btn span,
        flx-multicombo label.clickable > i[title="Clean"], span.input-group-addon > i {
            color: white;
        }

        [disabled] span.input-group-addon i {
            color: @input-text-color;
        }
    }

    [disabled] span.input-group-addon {
        background-color: #f7f7f7 !important;
    }

    tr:hover input.form-control:focus, tr:hover .input-group:focus-within {
        border-color: white;
    }

    .has-success .input-group-addon, .has-error .input-group-addon {
        background-color: transparent;
    }

    tr:hover flx-multicombo span.tag.label.label-info {
        border: 1px solid white;
    }

    flx-multicombo div.bootstrap-tagsinput {
        white-space: normal;

        > input[type="text"] {
            box-shadow: none;
        }
    }
}

flx-search .btn-default,
flx-list .btn-default {
    color: @txt-color !important;
    background-color: transparent;
    border-color: transparent;
}


flx-list .flxRszTbl th:hover, .flx-list th:hover {
    border-right: dotted 2px @border-module-color;
}

flx-search th:hover {
    background-color: @list-even-color !important;
}
//FILTERS
.filterPanel .form-control, .filterPanel .bootstrap-tagsinput {
    background-color: transparent;
    border-width: 0 0 0 0;
    border-radius: 0 0 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: @input-border-color;
}

.filterPanel flx-text > div{
    border-bottom: 1px solid @input-border-color;
}

flx-filter.active {
    display: table-caption;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 10px;
    background-color: @bg-color;
    border-radius: @border-radius;
    transition: all 1s;
}

flx-filter > div.item {
    margin-bottom: 0.4em;
}
// MENU
.flx-contextmenu ul, flx-nav[mode=menu] ul ul {
    border: 1px solid @border-module-color;
    border-left: 4px solid @border-module-color;
    background-color: @module-color;
    border-radius: @border-radius;
}

.flx-contextmenu ul, .flx-contextmenu li {
    border-radius: @border-radius;
}
//COMBO
flx-dbcombo button.flx-caret, flx-multicombo button.flx-caret, flx-dbcombo button {
    border: none
}


:is(flx-dbcombo,flx-combo)[mode="view"] > div.input-group > label.form-control {
    border-bottom: 0px;
}

flx-view :is(flx-dbcombo,flx-multicombo,flx-combo) .input-group-btn button {
    border: none;
}


flx-view flx-dbcombo .input-group-btn button:hover {
    color: @outstanding-color;
}

flx-dbcombo > ul, flx-multicombo > ul {
    border: 1px solid @border-module-color;
    border-left: 4px solid @border-module-color;
    background-color: @module-color;
}
//Tab
.nav-tabs, .nav-tabs:hover {
    border: none;
    outline-style: none;
    outline-width: 0px;
}

.nav-tabs > li > a, .nav-tabs > li > a:hover {
    margin-right: -1px;
    border-color: transparent;
    border-bottom: 2px solid @bg-color;
    background-color: transparent;
    color: @txt-color;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: @outstanding-color;
    background-color: transparent;
    border: 0 none;
    cursor: default;
    border-bottom: 2px solid @outstanding-color;
    top: 0;
}
//END TABS
// dependency manager property panel
flx-dependencymanager {
    flx-tag > div, .form-control {
        border: none;
    }

    .form-control {
        border-radius: 5px;
    }

    .pnlProperties.ui-sortable:not(.ui-sortable-disabled) li:hover {
        background-color: @module-color;

        .form-control {
            border-bottom: 1px solid @input-border-color;
            border-radius: 0;
        }
    }

    .pnlNavigate {
        margin-top: 10px;
        border-radius: 4px 0px;
    }

    .pnlProperties, .pnlNavigate {
        background-color: @list-even-color;
        padding: 10px;
        border: none;
    }

    .pnlProperties {
        border-radius: 0px 4px;
    }

    .panel-default {
        background-color: @list-even-color;
        border: none;

        > .panel-heading {
            background-color: @dialog-header-color;
            color: @txt-color;
            border: none;
        }
    }

    .panel.panel-default > .panel-heading {
        color: #fff;
    }
}

//BUtton
.btn {
    line-height: 1.5;
}

.btn-default {
    background-color: @toolbarbtn-color;
    color: @toolbarbtntext-color;
    border-color: @toolbarbtnborder-color;
}

.btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default:visited, .btn-default:active:hover, .btn-default:active:focus {
    color: @txt-color;
    background-color: transparent;
    border-color: @outstanding-color;
}

html.tactilMode flx-module .cntBodyHeader .moduleToolbar .btn, flx-module .cntBodyFooter .moduleToolbar .btn {
    padding: 4px 12px 8px 12px !important;
}

.btn-toolbar button {
    padding: 4px 6px !important;
}

flx-dbcombo > ul > div.load-more, flx-multicombo > ul > div.load-more {
    background-color: @module-color;
}
//FLX-NAV
flx-nav {
    font-size: 0.9em;
}


@keyframes shadyII {
    0% {
        box-shadow: 0 0 0 0 rgba(66,82,110, .5), 0 0 0 0 rgba(3, 108, 129, .5);
    }

    20% {
        box-shadow: 0 0 0 100px rgba(66,82,110, 0), 0 0 0 0 rgba(3, 108, 129, 0);
    }

    20.1% {
        box-shadow: 0 0 0 0 rgba(66,82,110, .5), 0 0 0 0 rgba(3, 108, 129, .5);
    }

    50% {
        box-shadow: 0 0 0 0 rgba(66,82,110, .5), 0 0 0 0 rgba(3, 108, 129, .5);
    }

    70% {
        box-shadow: 0 0 0 100px rgba(66,82,110,0), 0 0 0 0 rgba(3, 108, 129, 0);
    }

    70.1% {
        box-shadow: 0 0 0 0 rgba(66,82,110, .5), 0 0 0 0 rgba(3, 108, 129, .5);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(66,82,110,.5), 0 0 0 0 rgba(3, 108, 129, .5);
    }
}
//BOX MODE
flx-nav[mode=box] .box.selected .noshow ul {
    overflow-y: auto;
    height: 201px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

flx-nav[mode=box] .box.selected .noshow ul::-webkit-scrollbar {
    display: none;
}

//MENU MODE
flx-nav[mode=menu] {
    font-size: 0.9em;
}

flx-nav[mode=menu] > ul > li > span {
    font-weight: 600
}
//END MENU MODE
// NAV MODE
/*flx-nav[mode=nav] {
    border-top: 1px solid @bg-color;
}*/

flx-nav[mode=nav] li > .active:hover {
    color: @txt-color;
    background-color: @bg-color;
    
}

flx-nav[mode=nav] li > .active {
    background-color: darken(@nav-color, 5%);
}
//END NAV MODE
//DIALOG
.ui-dialog.ui-corner-all {
    border-radius: @border-radius;
}

.ui-dialog .ui-dialog-content {
    padding: 7px
}


.ui-dialog-titlebar-buttonpane {
    font-size: 10px;
}

.ui-dialog-titlebar-buttonpane a {
    position: relative;
    float: right;
    top: auto;
    right: auto;
    margin: 0px;
    width: 20px;
    padding: 1px;
    height: 20px;
}

.ui-dialog .ui-dialog-titlebar-buttonpane > a {
    right: 0 !important;
    float: right;
    line-height: 1.8em;
}

.ui-widget {
    border: 1px solid @dialog-border-color;
    box-shadow: 0px 0px 8px 0px @dialog-border-color;
}

.ui-widget-header {
    border: 1px none;
    background: @dialog-header-color !important;
    border-bottom: 1px solid @border-module-color;
    color: @txt-dialog-header-color;
}

.ui-dialog-titlebar-close, .ui-widget-header .ui-state-default {
    color: @txt-dialog-header-color;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
    border-bottom-left-radius: 0px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    border-bottom-right-radius: 0px;
}

//MODALS & POPUPS
:not(#dialog-extend-fixed-container) > .ui-dialog.ui-widget {
    border: none;

    &:not(:has(flx-ai)) {
        box-shadow: 0px 0px 7px 0px darken(@nav-color, 80);
    }
    .ui-dialog-titlebar {
        .ui-dialog-title {
            width: 100%;
            text-align: center;
            font-size: 16px;
        }

        .ui-dialog-titlebar-buttonpane {
            margin-right: 5px;
        }

        .ui-dialog-titlebar-buttonpane > a, .ui-dialog-titlebar-buttonpane > button {
            font-size: 12px;
            margin-right: 10px;
        }
    }
}

//EASY INFO
flx-easyinfo, .flx-easyinfo, .easy-info {
    background-color: @module-color;
    border-radius: @border-radius;
    border: 1px solid @border-module-color;
    position: relative;
}

.easy-info:hover {
    border: solid 1px @outstanding-color;
}


flx-easyinfo:not([modulename]), .flx-easyinfo {
    padding: 12px;
}

flx-easyinfo label, .easy-info label {
    text-transform: capitalize;
}

.easy-list li:first-child {
    border-left: 1px solid @border-module-color;
    padding-left: 0;
}

flx-easyinfo label:hover, .easy-info label:hover {
    color: inherit;
}


flx-easyinfo[size=s] h5 span, flx-easyinfo[size=s] h5 label, .flx-easyinfo[size=s] h5 span, .flx-easyinfo[size=s] h5 label {
    margin-left: 40px;
}

flx-easyinfo[size=m] h5 span, flx-easyinfo[size=m] h5 label, .flx-easyinfo[size=m] h5 span, .flx-easyinfo[size=m] h5 label {
    margin-left: 40px;
}

flx-easyinfo[size=l] h5 span, flx-easyinfo[size=l] h5 label, .flx-easyinfo[size=l] h5 span, .flx-easyinfo[size=l] h5 label {
    margin-left: 40px;
}

flx-easyinfo[size=s] i, .easy-info[size=s] i {
    position: absolute;
    top: 24px;
}

flx-easyinfo[size=m] i, .easy-info[size=m] i {
    position: absolute;
    top: 26px;
}

flx-easyinfo[size=l] i, .easy-info[size=l] i {
    position: absolute;
    top: 34px;
}



.easy-list li {
    border-left: 1px solid @border-module-color;
    padding: 0;
    margin: 4px;
    display: inline-block;
    text-align: left;
    box-sizing: content-box;
    min-width: 150px;
}

.easy-list li:hover {
    background-color: @module-color;
}

.easy-list li:first-child:hover {
    border-left: 1px solid @outstanding-color;
}
//POPOVER
.popover {
    background-color: @module-color;
    color: @txt-color;
    box-shadow: 0 0px 12px #a3a2a2;
}

.popover.bottom > .arrow:after {
    border-bottom-color: @module-color;
}
//Pager
flx-module .cntBodyHeader .pager:not(.onlyPageInfo) .pBtn, flx-module .cntBodyHeader .pager:not(.onlyPageInfo) .firstPage, flx-module .cntBodyHeader .pager:not(.onlyPageInfo) .prevPage, flx-module .cntBodyHeader .pager:not(.onlyPageInfo) .lastPage, flx-module .cntBodyHeader .pager:not(.onlyPageInfo) .nextPage,
flx-module .cntBodyFooter .pager:not(.onlyPageInfo) .pBtn, flx-module .cntBodyFooter .pager:not(.onlyPageInfo) .firstPage, flx-module .cntBodyFooter .pager:not(.onlyPageInfo) .prevPage, flx-module .cntBodyFooter .pager:not(.onlyPageInfo) .lastPage, flx-module .cntBodyFooter .pager:not(.onlyPageInfo) .nextPage {
    margin-left: 4px;
    border-radius: 4px;
    border: 1px solid @pagerbtn-color;
}


flx-module .cntBodyHeader .pager:not(.onlyPageInfo) .pBtn:hover, flx-module .cntBodyHeader .pager:not(.onlyPageInfo) .firstPage:hover, flx-module .cntBodyHeader .pager:not(.onlyPageInfo) .prevPage:hover, flx-module .cntBodyHeader .pager:not(.onlyPageInfo) .lastPage:hover, flx-module .cntBodyHeader .pager:not(.onlyPageInfo) .nextPage:hover,
flx-module .cntBodyFooter .pager:not(.onlyPageInfo) .pBtn:hover, flx-module .cntBodyFooter .pager:not(.onlyPageInfo) .firstPage:hover, flx-module .cntBodyFooter .pager:not(.onlyPageInfo) .prevPage:hover, flx-module .cntBodyFooter .pager:not(.onlyPageInfo) .lastPage:hover, flx-module .cntBodyFooter .pager:not(.onlyPageInfo) .nextPage:hover {
    border: 1px solid @pagerbtntext-color;
    color: @pagerbtntext-color;
}

flx-module .cntHeader .pager:not(.onlyPageInfo), flx-module .cntHeader .pager:not(.onlyPageInfo) .pBtn, flx-module .cntHeader .pager:not(.onlyPageInfo) .firstPage, flx-module .cntHeader .pager:not(.onlyPageInfo) .prevPage, flx-module .cntHeader .pager:not(.onlyPageInfo) .lastPage, flx-module .cntHeader .pager:not(.onlyPageInfo) .nextPage {
    background-color: transparent;
    border: transparent;
    color: @pagerbtntext-color;
}


flx-module .cntBodyHeader .pager:not(.onlyPageInfo) .pBtn, flx-module .cntBodyHeader .pager:not(.onlyPageInfo) .firstPage, flx-module .cntBodyHeader .pager:not(.onlyPageInfo) .prevPage, flx-module .cntBodyHeader .pager:not(.onlyPageInfo) .lastPage, flx-module .cntBodyHeader .pager:not(.onlyPageInfo) .nextPage,
flx-module .cntBodyFooter .pager:not(.onlyPageInfo) .pBtn, flx-module .cntBodyFooter .pager:not(.onlyPageInfo) .firstPage, flx-module .cntBodyFooter .pager:not(.onlyPageInfo) .prevPage, flx-module .cntBodyFooter .pager:not(.onlyPageInfo) .lastPage, flx-module .cntBodyFooter .pager:not(.onlyPageInfo) .nextPage {
    margin-left: 4px;
    border-radius: 4px;
    border: 1px solid @pagerbtn-color;
}

flx-module.noheader .cntBodyHeader {
    background-color: transparent;
}
//LEGEND
legend {
    color: @txt-color;
    border-bottom-color: @txt-color;
}
//LOBIBOX
.lobibox.lobibox-confirm .lobibox-header {
    background-color: darken(@bg-color,20);
}

.lobibox .lobibox-body {
    background-color: @module-color;
    color: @txt-color;
}

.lobibox.lobibox-confirm .lobibox-body .lobibox-icon {
    color: #cd2424;
}

.lobibox.lobibox-confirm .lobibox-footer {
    background-color: darken(@bg-color,20);
}

.lobibox.lobibox-progress .lobibox-header, .lobibox.lobibox-progress .lobibox-body .lobibox-progress-bar-wrapper .lobibox-progress-bar {
    background-color: @dialog-header-color;
}

.lobibox.lobibox-progress .lobibox-body .lobibox-progress-outer [data-role=progress-text] {
    color: @header-color;
}

.lobibox.lobibox-progress .lobibox-body .lobibox-progress-bar-wrapper {
    background-color: #b9b8b8
}

.lobibox-notify-wrapper .lobibox-notify {
    border-radius: @border-radius;
    margin-right: 7px;
}

.lobibox-progress {
    border-radius: @border-radius;

    & .lobibox-header {
        border-top-right-radius: @border-radius;
        border-top-left-radius: @border-radius;
    }

    & .lobibox-body {
        border-bottom-left-radius: @border-radius;
        border-bottom-right-radius: @border-radius;
    }
}

div.lobibox.lobibox-confirm, div.lobibox.lobibox-info, div.lobibox.lobibox-prompt {
    .btn-close {
        position: absolute;
        font-size: 1.2em;
        right: 0;
        top: 0;
        padding: 4px 10px;
        border-radius: 0px @border-radius;
        transition: all 0.2s ease-in;

        &:hover {
            background-color: @nav-color;
            color: white;
            text-shadow: none;
        }
    }

    button.lobibox-btn {
        margin: 0;
        border-radius: @border-radius;
        padding: 9px 22px;
        font-size: 15px;
        font-weight: bold;
        border: none;
        color: #fff;

        &.lobibox-btn-cancel {
            background-color: @muted-blue;
            border: none;

            &:hover {
                background-color: darken( @muted-blue, 10);
                color: #fff;
            }
        }
    }
}

div.lobibox.lobibox-confirm, div.lobibox.lobibox-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: @module-color;
    border-radius: calc(@border-radius * 2);
    border: none;

    .lobibox-header {
        background-color: transparent;
        margin-top: 2em;
        color: @txt-color;
        padding-top: 15px;

        .lobibox-title {
            font-weight: 600;
        }

        .btn-close {
            position: absolute;
            font-size: 1.2em;
            right: 0;
            top: 0;
            padding: 4px 10px;
            border-radius: 0px calc(@border-radius * 2);
            transition: all 0.2s ease-in;

            &:hover {
                background-color: @nav-color;
                color: white;
                text-shadow: none;
            }
        }
    }

    .lobibox-body {
        position: initial;
        display: flex;
        justify-content: center;
        text-align: center;
        height: max-content !important;
        max-height: 8em !important;
        overflow-y: auto;

        &::-webkit-scrollbar {
            border-radius: @border-radius;
        }

        .lobibox-icon-wrapper {
            display: flex;
            position: absolute;
            width: 80px;
            height: 1.3em;
            top: -0.5em;
            background-color: white;
            z-index: -1;
            border-radius: 50%;
            justify-content: center;

            i {
                color: @nav-color;
                font-size: 75px;
            }
        }
    }

    .lobibox-footer {
        background-color: @module-color;
        width: 35%;
        display: flex;
        justify-content: space-evenly;
        padding: 15px 6px;

        button {
            &.lobibox-btn-yes, &.lobibox-btn-default {
                background-color: @nav-color;

                &:hover {
                    background-color: darken(@nav-color, 5);
                    color: #fff;
                }
            }

            &.lobibox-btn-no {
                background-color: @muted-blue;

                &:hover {
                    background-color: darken(@muted-blue, 10);
                }
            }
        }
    }
}

div.lobibox.lobibox-prompt {
    button.lobibox-btn { 
        margin: 0 5px;
    }
}

body[mode="dark"] {
    div.lobibox.lobibox-info, div.lobibox.lobibox-confirm, div.lobibox.lobibox-prompt {
        .lobibox-footer {
            .lobibox-btn-no, .lobibox-btn-cancel {
                background-color: @danger-color;

                &:hover {
                    background-color: darken(@danger-color, 10);
                }
            }

            .lobibox-btn-default, .lobibox-btn-yes {
                border: 1px solid white;

                &:hover {
                    background-color: darken(@module-color, 10);
                }
            }
        }
    }
}

body:not([mode="dark"]) {
    div.ui-dialog, div.lobibox {
        box-shadow: 0px 0px 10px 0px #a8a8a8;
    }
}

//Code mirror
flx-edit .CodeMirror {
    border-color: @input-border-color;
    border-left: 1px solid @input-border-color;
}

.cm-s-freeware {
    background-color: @module-color;
    color: #808080;
    border-top: solid 1px @input-border-color;
    border-bottom: solid 1px @input-border-color;
    border-right: solid 1px @input-border-color;
}


.cm-s-freeware .CodeMirror-gutters {
    background: darken(@module-color,2);
    color: #999;
    border-right: solid 1px @input-border-color;
    border-left: solid 1px @input-border-color;
}

.cm-s-freeware .cm-string {
    color: @txt-color;
}

body[mode="dark"] .cm-matchhighlight {
    background-color: #404040;
}

.box-info, .bg-info.reverse {
    background-color: transparent;
}

//DEPENDENCY MANAGER
flx-dependencymanager .bootstrap-tagsinput {
    border-radius: @border-radius !important;
}

//TEXT AREA
flx-textarea {
    span.input-group-addon {
        border-color: @input-border-color;
        border-width: 1px;
        border-top-right-radius: @border-radius;
        border-bottom-right-radius: @border-radius;
    }

    &:focus-within :is(span.input-group-addon,textarea.form-control) {
        border-color: @info-color;
        box-shadow: none;
    }

    .input-group-addon:first-child {
        border-top-left-radius: @border-radius;
        border-bottom-left-radius: @border-radius;
    }

    textarea.form-control {
        border-radius: @border-radius;
    }

    .input-group {
        padding-right: 0px;
        border-radius: 5px;
    }
}

flx-view flx-textarea > div > label.form-control.input-view {
    border: 1px solid @input-border-color;
    border-radius: @border-radius;
}

//UPLOAD
flx-upload .upload-container {
    background-color: @module-color;
    border-color: @border-module-color;
}
//Options-box
.options-box {
    background-color: darken(@module-color,5);
}

.options-box > .buttons {
    background-color: darken(@module-color,10);
}

body[mode="dark"] .options-box {
    background-color: lighten(@module-color,6);
}

body[mode="dark"] .options-box > .buttons {
    background-color: lighten(@module-color,4);
}

//KANBAN
flx-kanban .kanban-col.default {
    background-color: @bg-color;
    color: @txt-color;
    box-shadow: 2px 3px 6px #0000000d;
}

body[mode="dark"] flx-kanban .kanban-col.default {
    background-color: lighten(@module-color,10);
    color: @txt-color;
}

flx-kanban li.kanban-card:hover {
    background-color: lighten(@bg-color,5);
}

body[mode="dark"] flx-kanban li.kanban-card {
    background-color: @module-color;
}
//Image
:is(flx-image, flx-whiteboard) .ctl-container {
    background-color: @module-color;
    color: @txt-color;
    border-color: @input-border-color;
}

flx-image .cpr-view-container {
    border-color: @input-border-color;
}
//Prompt input
.lobibox.lobibox-prompt {
    border-radius: 5px;

    .lobibox-header {
        background-color: @input-background-color;
        border-radius: @border-radius @border-radius 0 0;
        color: @nav-color;
        padding: 15px 20px 5px 20px;
    }

    .lobibox-body .lobibox-input {
        border-top: none;
        border-left: none;
        border-right: none;

        &:focus {
            background-color: @input-background-color;
        }
    }

    .lobibox-footer {
        background-color: @input-background-color;
        border-radius: 0 0 @border-radius @border-radius;
        padding-bottom: 15px;

        .lobibox-btn-default {
            background-color: @nav-color;
            color: #fff;

            &:hover {
                background-color: darken(@nav-color, 4);
                color: #fff;
            }
        }

        button {
            border-radius: @border-radius;
        }
    }
}

body[mode="dark"] .lobibox.lobibox-prompt .lobibox-header {
    color: white;
}

.upload-drag-container {
    background-color: @input-background-color !important;
}
//Chatter
flx-chatter .chatter {
    background-color: transparent;
}

flx-chatter .chatter .chatter_composer {
    background-color: darken(@bg-color,5);
    box-shadow: 2px 3px 6px #0000000d;
}

flx-chatter .chatter .chatter_thread .chatter_thread_message {
    background-color: @bg-color;
    box-shadow: 2px 3px 6px #0000000d;
}

flx-chatter .chatter .chatter_composer .chatter_composer_container .chatter_composer_section {
    border-width: 1px;
    background-color: @input-background-color;
    border-color: @input-border-color;
    color: @input-text-color;
    border-style: solid;
    margin-bottom: 10px;
}

textarea, flx-chatter .chatter .chatter_composer .chatter_composer_container .chatter_composer_section .chatter_composer_input .chatter_composer_tools > button {
    background-color: @input-background-color;
}

textarea, flx-chatter .chatter .chatter_thread .chatter_thread_message .chatter_thread_message_core .chatter_composer_tools_edit > button {
    background-color: @input-background-color;
}

flx-textarea textarea.form-control {
    padding: 8px;
    border: 1px solid;
    border-color: @input-border-color;
}

flx-chatter .chatter .chatter_composer .chatter_composer_container .chatter_composer_section .chatter_composer_input .chatter_composer_tools {
    border-top-color: @input-border-color;
}

body[mode="dark"] flx-chatter .chatter_composer_input .mentions-input-box .mentions {
    color: @input-background-color;
}

body[mode="dark"] flx-chatter .chatter_thread_message_content .mentions-input-box .mentions {
    color: @input-background-color;
}


body[mode="dark"] flx-chatter .chatter .chatter_thread .chatter_thread_message .chatter_thread_message_core .shadow_thread {
    background-color: @input-background-color;
    border-width: 1px;
    border-color: #5a5a5a;
    border-style: solid;
}
 
body[mode="dark"] flx-chatter .chatter .chatter_thread .chatter_thread_message .chatter_thread_message_core .chatter_composer_tools_edit {
    border-top: 1px solid #5a5a5a;
    background-color: @input-background-color;
}

body[mode="dark"] flx-chatter .chatter_composer_input .mentions-input-box .mentions > div > strong {
    background: #666666;
    color: @input-background-color;
}

body[mode="dark"] flx-chatter .chatter_thread_message_content .mentions-input-box .mentions > div > strong {
    background: #666666;
    color: @input-background-color;
}

body[mode="dark"] flx-chatter .mentions-input-box .mentions-autocomplete-list {
    background: #292929;
    border: 1px solid #292929;
}

body[mode="dark"] flx-chatter .mentions-input-box .mentions-autocomplete-list li {
    background-color: #292929;
    border-bottom: 1px solid #292929;
}

body[mode="dark"] flx-chatter .mentions-input-box .mentions-autocomplete-list li:hover, body[mode="dark"] flx-chatter .mentions-input-box .mentions-autocomplete-list li.active {
    background-color: #2eafe7;
}

//Help
body[mode="dark"] .flxhelp {
    background-color: @input-background-color !important;
}

body[mode="dark"] .flxhelp {
    p, .helpBoxRow .helpBoxDiv .helpBox .title {
        color: darken(white,25);
    }

    li {
        color: darken(white,25) !important;
    }

    table {
        color: lighten(#42526E, 30);
    }

    .notehelp {
        color: #836203;
    }

    .helpBoxRow .helpBoxDiv .helpBox {
        background-color: @module-color;
    }

    h1, h2, h3 {
        color: darken(white,25);
    }

    .imghelp {
        background-color: @module-color;
        border-color: @module-color;
    }

    .imghelp.flx-normal-img {
        display: none;
    }
}

/*
.flxhelp .helpBoxRow .helpBoxDiv .helpBox {
background-color: darken(@module-color,5);
border-color: @input-border-color;    
}

.flxhelp .helpBoxRow .helpBoxDiv .helpBox .title {
color: @txt-color;
}*/
//Document Manager
flx-module[type="flx-documentmanager"] {
    color: @txt-color;
}

flx-module[type="flx-documentmanager"] div.dtc-container.dtc-transition {
    background-color: darken(@module-color,5);
}

flx-module[type="flx-documentmanager"] .dtc-subcontainerbuttons {
    background-color: darken(@module-color,5);
}

flx-documentmanager .dtc-btn-container [value="link"] i, flx-documentmanager .dtc-btn-container [value="link"] span {
    color: white;
}

#layoutPanel {
    background-color: @input-background-color;
}
//Module manager
/*.box-primary {
background-color: @bg-color;
color: @txt-color;
}*/
//HTML editor
flx-html div.btn-group .btn {
    background-color: @module-color;
}

flx-html div.btn-group {
    background-color: @module-color;
    border-radius: @border-radius;
}
//Note Editor
.panel-default > .panel-heading {
    color: @toolbarbtntext-color;
    background-color: @toolbarbg-color;
    border-color: @input-border-color;
}

.note-editor.note-frame .note-editing-area .note-editable {
    padding: 10px;
    overflow: auto;
    background-color: @input-background-color;
    color: @input-text-color;
}
//PropertyManager
flx-propertymanager label > input[type=text] {
    background-color: lighten(@toolbarbg-color,2);
    border: none;
}

flx-propertymanager .btn-group .btn + .btn {
    margin-left: 0;
}

flx-propertymanager label.locked span.status:after {
    color: @danger-color;
}

flx-propertymanager .grid-stack .grid-stack-placeholder > .placeholder-content {
    background-color: Lighten(@module-color,5);
}

//Slide Dialog
.flx-dialog-modal.flx-slide .ui-widget-header {
    background-color: @module-color !important;
}

.flx-dialog-modal.flx-slide .ui-dialog-content {
    background-color: @module-color !important;

    & flx-module {
        border: unset;
        box-shadow: unset !important;
    }
}

//make flx-slide dialog less pointy
.flx-dialog-modal.flx-slide {
    &.flx-slideright {
        border-top-left-radius: @border-radius;
        border-bottom-left-radius: @border-radius;

        & .ui-widget-header {
            border-top-left-radius: @border-radius;
        }

        & main {
            border-bottom-left-radius: @border-radius;
        }
    }

    &.flx-slideleft {
        border-top-right-radius: @border-radius;
        border-bottom-right-radius: @border-radius;

        & .ui-widget-header {
            border-top-right-radius: @border-radius;
        }

        & main {
            border-bottom-right-radius: @border-radius;
        }
    }

    &.flx-slidebottom {
        border-top-right-radius: @border-radius;
        border-top-left-radius: @border-radius;

        & .ui-widget-header {
            border-top-right-radius: @border-radius;
            border-top-left-radius: @border-radius;
        }
    }

    &.flx-slidetop {
        border-bottom-right-radius: @border-radius;
        border-bottom-left-radius: @border-radius;

        & main {
            border-bottom-right-radius: @border-radius;
            border-bottom-left-radius: @border-radius;
        }
    }

}

//FLX-Map
body[mode="dark"] .map-text {
    color: #616367;
}

//Cron expression controller
body[mode="dark"] .cronExpression .jqCron-selector-title {
    color: #cdcecf;
    background: transparent;
}

//Offline main page
.offline-page main[pagename="offline_App_View"] {
    @header-height: 50px;
    @container-radius: 12px;

    flx-module[modulename="sysOfflineObjectSearch"] {
        div.cntBody.nopadding {
            margin: 0 !important;
        }

        flx-genericsearch input {
            border: none;
        }

        span.input-group-addon.bg-outstanding {
            border-color: #ccc;
        }
    }

    flx-module[modulename="sysofflineTabs"] .cntBody {
        padding: 0 !important;
    }
    //Menu
    .offline-module.offline-module-menus flx-menumanager {
        height: ~"calc(100vh - @{header-height} - 20px)";
        border-radius: @container-radius;

        .managerpanel {
            border-radius: @container-radius;
        }
    }
}

flx-dbcombo > ul li:hover, flx-multicombo > ul li:hover {
    background-color: lighten(@outstanding-color, 40);
}

body[mode="dark"] .dropdown-menu {
    background-color: @bg-color; // @bg-color;
}

body[mode="dark"] .bootstrap-datetimepicker-widget table td.day:hover,
body[mode="dark"] .bootstrap-datetimepicker-widget table td.hour:hover,
body[mode="dark"] .bootstrap-datetimepicker-widget table td.minute:hover,
body[mode="dark"] .bootstrap-datetimepicker-widget table td.second:hover,
body[mode="dark"] .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
    color: @bg-color;
}

body[mode="dark"] flx-list .flxRszTbl .bootstrap-datetimepicker-widget tr:nth-child(odd):not(.rowHeader):hover,
body[mode="dark"] flx-list .flxRszTbl .bootstrap-datetimepicker-widget tr:nth-child(even):not(.rowHeader):hover {
    background-color: transparent !important;
}


body[mode=""] label {
    > span.help-icon {
        color: darken(@txt-nav-color, 20);

        &:hover {
            color: @outstanding-color;
        }
    }

    > span.danger-icon {
        color: lighten(@danger-color, 20);

        &:hover {
            color: @danger-color;
        }
    }
}


body[mode="dark"] {
    flx-sortmanager .fieldPanel, flx-sortmanager .fieldSortItem, .modal-content {
        background-color: @module-color;
    }

    pre:not(.CodeMirror-line), button.tab-button {
        background-color: lighten(@module-color, 3%);
        border: 1px solid lighten(@module-color, 10%);
    }
}

body[mode="dark"] flx-code .CodeMirror-cursors .CodeMirror-cursor {
    border-left: 1px solid white;
}
/** MODULE VIEWER **/
body[mode="dark"] .flx-info-viewers {
    background-color: #272727;
    box-shadow: 0px 0px 8px 2px #161616;

    .tooltip-inner {
        background-color: #272727;
        color: #fff;
    }
}

/** flx-module **/

flx-module:not(.config):not(.fullscreen):not(.empty) {
    box-shadow: 2px 3px 6px #0000000d;
    border-radius: @border-radius;
    border: unset;
}

flx-module.empty:not([modulename="sysofflineApp_Menus"]) > .cntBody {
    padding: 0;
    padding-left: 0;
}

//FLX-HELP
flx-module.default .cntHeader, flx-module[modulename="sysHelpSearchHeader"] {
    border-top-right-radius: @border-radius;
    border-top-left-radius: @border-radius;
}

flx-module[modulename="sysHelpSearchList"] {
    border-bottom-left-radius: @border-radius;
    border-bottom-right-radius: @border-radius;
}

div.flxhelp {
    border-radius: @border-radius;
    /*New Styles for tabs of collapse views*/

    //header tab style
    #dialog-extend-fixed-container > .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.flx-dialog.ui-resizable {
        width: auto !important;
    }
    //Tab text style
    #dialog-extend-fixed-container > .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.flx-dialog.ui-resizable > div .ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix.ui-draggable-handle > span {
        padding-right: 20px;
    }
}
//generic boxCard style

body[mode="dark"] .flxboxCard {
    background-color: #373737;
    border-radius: @border-radius;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body:not([mode="dark"]) .flxboxCard {
    background-color: white;
    border-radius: @border-radius;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

//style of popovers in attachments files module
flx-module [modulename="sysmod-mailattachment-list"] div.popover {
    width: initial;
}

//Object Manager
flx-objectmanager #tab1 {
    flx-text, flx-dbcombo, flx-tag {
        > div, .btn {
            border-radius: @border-radius;
        }

        input {
            background-color: transparent;
        }
    }

    .icombo .input-group-addon {
        border-radius: @border-radius 0 0 @border-radius;

        i {
            cursor: pointer;
        }
    }

    .icombo .input-group-addon:hover {
        padding: 10px 16px;
        font-size: 18px;
    }

    flx-tag div.bootstrap-tagsinput {
        background-color: transparent;
    }

    form div.row:last-child flx-text > div, form div.row:last-child div[data-tag="control"] {
        margin-bottom: 1em;
    }

    form div.row:last-child > div:first-child {
        margin: 0 15px;
    }

    form div.row:last-child flx-dbcombo > div, form div.row:last-child flx-text > div, form div.row:last-child flx-tag > div {
        margin-left: 15px;
        margin-right: 15px;
    }
}

//Admin work area upper navigation buttons
flx-module[modulename="sysmod-sqllist-objects-count"] .easy-list li {
    box-sizing: border-box;
}

//flx-modulemanager styles
flx-modulemanager {
    .module-placeholder ul {
        border-radius: @border-radius;
    }

    #layoutPanel {
        ul {
            padding: 3px;
        }

        li {
            box-shadow: none;

            > div {
                border-radius: 5px;
                box-shadow: rgba(0, 0, 0, 0.2) 4px 5px 4px;
            }
        }
    }

    #modulePanel .mCSB_container {
        max-width: ~"calc(100% - 16px)"; //16px is the mCSB_scrollbar width
        overflow: visible;
    }

    li {
        box-shadow: none;

        > div {
            border-radius: 5px;
            box-shadow: 6px 6px 10px -5px rgba(0,0,0,0.33);
        }
    }
}
//Sidepanel
flx-sidepanel {
    .side-panels > div {
        border-radius: 5px 0 0 5px;
        backdrop-filter: blur(3px);
    }
}

flx-code[editor="monaco"] div.superContainer, flx-textarea input-group {
    border: 1px solid @input-border-color;
}

//Webapi
body[mode="dark"] {
    .swagger-ui {
        //Title with Base Url
        .information-container hgroup {
            h2, > pre {
                color: @txt-color;
            }

            small pre {
                background: transparent;
                border: none;
            }
        }
        //Schemes and authorize
        div.scheme-container {
            background-color: @module-color;

            .schemes > label {
                color: @txt-color;

                select {
                    background: @module-color;
                    border-color: @txt-color;
                    color: @txt-color;
                }
            }
        }
        //Filter Input
        .filter .operation-filter-input {
            background-color: @module-color;
        }
        //Definitions divs
        div.wrapper {
            h4.opblock-tag a, h4.opblock-tag small, .opblock .opblock-summary-path, .opblock .opblock-summary-description {
                color: fade(white, 85);
            }
            //To change svg color without modiying its attributes we use filters generated using this page https://codepen.io/sosuke/pen/Pjoqqp
            h4.opblock-tag button.expand-operation {
                filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(58deg) brightness(108%) contrast(101%);
            }

            button.authorization__btn {
                filter: invert(72%) sepia(6%) saturate(193%) hue-rotate(314deg) brightness(89%) contrast(82%);
            }
            //Opened definitions
            .opblock-body {
                .opblock-section-header {
                    background-color: @module-color;
                    box-shadow: 0px 2px 3px 0px rgba(255, 255, 255, 0.27);
                }

                h4, th, td, .parameter__name, .parameter__type, .parameters-col_description .markdown, .opblock-section-header label span {
                    color: @txt-color
                }

                select, button.try-out__btn {
                    background: @module-color;
                    border-color: @txt-color;
                    color: @txt-color;
                }
            }
        }
    }
}