:root {
    /*Main Colors*/
    --dialog-header-color: dbColor(DialogHeaderColor);
    --header-color: dbColor(HeaderColor);
    --menu-color: dbColor(MenuColor);
    --module-color: dbColor(ModuleColor);
    --module-header-color: dbColor(ModuleHeaderColor);
    --nav-color: dbColor(NavColor);
    --bg-color: dbColor(bgColor);
    --border-module-color: dbColor(borderModuleColor);
    --outstanding-color: dbColor(OutstandingColor);
    /*Main Text Colors*/
    --txt-dialog-header-color: dbColor(txtDialogHeaderColor);
    --txt-header-color: dbColor(txtHeaderColor);
    --txt-menu-color: dbColor(txtMenuColor);
    --txt-module-color: dbColor(txtModuleColor);
    --txt-module-header-color: dbColor(txtModuleHeaderColor);
    --txt-nav-color: dbColor(txtNavColor);
    --txt-outstanding-color: dbColor(txtOutstandingColor);
    --txt-color: dbColor(txtColor);
    /*Notify Colors*/
    --success-color: dbColor(SuccessColor);
    --tools-color: dbColor(ToolsColor);
    --primary-color: dbColor(PrimaryColor);
    --danger-color: dbColor(DangerColor);
    --notify-color: dbColor(NotifyColor);
    --info-color: dbColor(InfoColor);
    --warning-color: dbColor(WarningColor);
    /*Notify Text Colors*/
    --txt-info-color: dbColor(txtInfoColor);
    --txt-primary-color: dbColor(txtPrimaryColor);
    --txt-success-color: dbColor(txtSuccessColor);
    --txt-tools-color: dbColor(txtToolsColor);
    --txt-warning-color: dbColor(txtWarningColor);
    --txt-notify-color: dbColor(txtNotifyColor);
    --txt-danger-color: dbColor(txtDangerColor);
    /*Responsive Screen Sizes*/
    --small: dbSize(small);
    --large: dbSize(large);
    --medium: dbSize(medium);
    /*Timeline Colors*/
    --timeline-dark-color: dbColor(TimelineDarkColor);
    --timeline-medium-dark-color: dbColor(TimelineMediumDarkColor);
    --timeline-Medium-Light-Color: dbColor(TimelineMediumLightColor);
    --timeline-light-color: dbColor(TimelineLightColor);
    --timeline-background-color: dbColor(TimelineBackgroundColor);
    /*Toolbar Colors*/
    --toolbarbg-color: dbColor(ToolbarbgColor);
    --toolbarbtn-color: dbColor(ToolbarbtnColor);
    --toolbarbtnborder-color: dbColor(ToolbarbtnborderColor);
    --toolbarbtntxt-color: dbColor(ToolbarbtntxtColor);
    /*Pager Colors*/
    --pagerbg-color: dbColor(PagerbgColor);
    --pagerbtn-color: dbColor(PagerbtnColor);
    --pagerbtnborder-color: dbColor(PagerbtnborderColor);
    --pagerbtntxt-color: dbColor(PagerbtntxtColor);
}

