@import "mixins.less";
@import "CssVars.less";

//ROOT
:root {
    /*Main Colors*/
    --header-color: @header-color;
    --menu-color: @menu-color;
    --module-color: @module-color;
    --module-header-color: @module-header-color;
    --nav-color: @nav-color;
    --bg-color: @bg-color;
    --border-module-color: @border-module-color;
    --outstanding-color: @outstanding-color;
    /*Main Text Colors*/
    --txt-dialog-header-color: @txt-dialog-header-color;
    --txt-header-color: @txt-header-color;
    --txt-menu-color: @txt-menu-color;
    --txt-module-color: @txt-module-color;
    --txt-module-header-color: @txt-module-header-color;
    --txt-nav-color: @txt-nav-color;
    --txt-outstanding-color: @txt-outstanding-color;
    --txt-color: @txt-color;
    /*Notify Colors*/
    --success-color: @success-color;
    --tools-color: @tools-color;
    --primary-color: @primary-color;
    --danger-color: @danger-color;
    --notify-color: @notify-color;
    --info-color: @info-color;
    --warning-color: @warning-color;
    /*Notify Text Colors*/
    --txt-info-color: @txt-info-color;
    --txt-primary-color: @txt-primary-color;
    --txt-success-color: @txt-success-color;
    --txt-tools-color: @txt-tools-color;
    --txt-warning-color: @txt-warning-color;
    --txt-notify-color: @txt-notify-color;
    --txt-danger-color: @txt-danger-color;
    /*Responsive Screen Sizes*/
    --small: @small;
    --medium: @medium;
    --large: @large;
    /*Timeline Colors*/
    --timeline-dark-color: @timeline-dark-color;
    --timeline-medium-dark-color: @timeline-medium-dark-color;
    --timeline-Medium-Light-Color: @timeline-Medium-Light-Color;
    --timeline-light-color: @timeline-light-color;
    --timeline-background-color: @timeline-background-color;
    /*Toolbar Colors*/
    --toolbarbg-color: @toolbarbg-color;
    --toolbarbtn-color: @toolbarbtn-color;
    --toolbarbtnborder-color: @toolbarbtnborder-color;
    --toolbarbtntext-color: @toolbarbtntext-color;
    /*Pager Colors*/
    --pagerbg-color: @pagerbg-color;
    --pagerbtn-color: @pagerbtn-color;
    --pagerbtnborder-color: @pagerbtnborder-color;
    --pagerbtntext-color: @pagerbtntext-color;
    /*Input Colors*/
    --input-border-color: @input-border-color;
    --input-text-color: @input-text-color;
    --input-background-color: @input-background-color;
    --list-header-color: @list-header-color;
    --list-even-color: @list-even-color;
    --list-odd-color: @list-odd-color;
    /*Dialog Colors*/
    --dialog-header-color: @dialog-header-color;
    --dialog-border-color: @dialog-border-color;
    /*Standard Radiuses*/
    --border-radius: @border-radius;
    --scrollbar-border-radius: @scrollbar-border-radius;
}

//BODY

body, main {
    color: @txt-color;
    background-color: @bg-color;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

.ui-dialog main {
    padding: 1em;
    overflow: auto;
}

.opacity-10 {
    opacity: .1;
}

.opacity-20 {
    opacity: .2;
}

.opacity-30 {
    opacity: .3;
}

.opacity-40 {
    opacity: .4;
}

.opacity-50 {
    opacity: .5;
}

.opacity-60 {
    opacity: .6;
}

.opacity-70 {
    opacity: .7;
}

.opacity-80 {
    opacity: .8;
}

.opacity-90 {
    opacity: .9;
}

.opacity-10:hover, .opacity-20:hover, .opacity-30:hover, .opacity-40:hover, .opacity-50:hover,
.opacity-60:hover, .opacity-70:hover, .opacity-80:hover, .opacity-90:hover {
    opacity: 1;
}

//HEADER
header {
    background-color: @header-color;
    color: @txt-header-color;
    @media (max-width: @medium) {
        padding-top: env(safe-area-inset-top);
        padding-left: env(safe-area-inset-left);
        padding-right: env(safe-area-inset-right);
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;
        right: 0;
    }
}

.header-follows header {
    width: 100%;
    position: fixed;
}

.header-overflow header {
    width: 100%;
    background-color: transparent;
    position: absolute;
}

.header-transparent header {
    background-color: transparent;
}


.sectitle {
    font-size: 1.6em;
    color: @outstanding-color
}

.sectitle i {
    font-size: 1.5em;
}

.txt-muted, .txt-muted a, a.txt-muted, .btn-toolbar .btn.txt-danger {
    color: #bec6cc;
}

.ellipsis{
overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width:100%;
}

.roundBorders{
    border-radius:10px;
}

.bg-module {
    background-color: @module-header-color !important;
    color: @txt-module-header-color !important;
    padding: .5em;
}

.txt-outstanding, .txt-outstanding a, a.txt-outstanding, .btn-toolbar .btn.txt-outstanding {
    color: @outstanding-color;
}

.bg-outstanding {
    background-color: @outstanding-color !important;
    color: @txt-outstanding-color !important;
    padding: .5em;
}

.badge-outstanding, .btn-default .badge.badge-outstanding {
    background-color: @outstanding-color;
    color: @txt-outstanding-color;
}

.bg-outstanding .main-icon i {
    color: darken(@outstanding-color, 10);
}

.box-outstanding, .bg-outstanding.reverse {
    background-color: lighten(@outstanding-color, 40);
    color: @outstanding-color;
    border-left: solid 5px @outstanding-color;
    padding: .5em;
}

button.bg-outstanding {
    border-color: darken(@outstanding-color, 10);
}

.panel-heading .border-outstanding {
    border-width: 0;
    border-left: solid 5px @outstanding-color !important;
}

.border-outstanding {
    border: solid 1px @outstanding-color;
}

.btn-outstanding {
    border: solid 1px @outstanding-color !important;
    color: @outstanding-color !important;
    background-color: transparent !important;
}

.btn-info:hover {
    border: solid 1px lighten(@outstanding-color,40) !important;
    color: darken(@outstanding-color,10) !important;
    background-color: transparent !important;
}


.txt-primary, .txt-primary a, a.txt-primary, .btn-toolbar .btn.txt-primary {
    color: @primary-color;
}

.bg-primary {
    background-color: @primary-color !important;
    color: @txt-primary-color !important;
    padding: .5em;
}

.badge-primary, .btn-default .badge.badge-primary {
    background-color: @primary-color;
    color: @txt-primary-color;
}

.bg-primary .main-icon i {
    color: darken(@primary-color, 10);
}

.box-primary, .bg-primary.reverse {
    background-color: lighten(@primary-color, 60);
    color: @primary-color;
    border-left: solid 5px @primary-color;
    padding: .5em;
}

button.bg-primary {
    border-color: darken(@primary-color, 10);
}

.panel-heading .border-primary {
    border-width: 0;
    border-left: solid 5px @primary-color !important;
}

.border-primary {
    border: solid 1px @primary-color;
}

.btn-primary {
    border: solid 1px @primary-color !important;
    color: @primary-color !important;
    background-color: transparent !important;
}

.btn-primary:hover {
    border: solid 1px lighten(@primary-color,40) !important;
    color: darken(@primary-color,10) !important;
    background-color: transparent !important;
}

.txt-success, .txt-success a, a.txt-success, .btn-toolbar .btn.txt-success {
    color: @success-color;
}

.bg-success {
    background-color: @success-color !important;
    color: @txt-success-color !important;
    padding: .5em;
}

.badge-success, .btn-default .badge.badge-success {
    background-color: @success-color;
    color: @txt-success-color;
}

.bg-success .main-icon i {
    color: darken(@success-color, 10);
}

.box-success, .bg-success.reverse {
    background-color: lighten(@success-color, 60);
    color: @success-color;
    border-left: solid 5px @success-color;
    padding: .5em;
}

button.bg-success {
    border-color: darken(@success-color, 10);
}

.panel-heading .border-success {
    border-width: 0;
    border-left: solid 5px @success-color !important;
}

.border-success {
    border: solid 1px @success-color;
}

.btn-success {
    border: solid 1px @success-color !important;
    color: @success-color !important;
    background-color: transparent !important;
}

.btn-success:hover {
    border: solid 1px lighten(@success-color,40) !important;
    color: darken(@success-color,10) !important;
    background-color: transparent !important;
}

.txt-info, .txt-info a, a.txt-info, .btn-toolbar .btn.txt-info {
    color: @info-color;
}

.bg-info {
    background-color: @info-color !important;
    color: @txt-info-color !important;
    padding: .5em;
}

.badge-info, .btn-default .badge.badge-info {
    background-color: @info-color;
    color: @txt-info-color;
}

.bg-info .main-icon i {
    color: darken(@info-color, 10);
}

.box-info, .bg-info.reverse {
    background-color: lighten(@info-color, 40);
    color: @info-color;
    border-left: solid 5px @info-color;
    padding: .5em;
}

button.bg-info {
    border-color: darken(@info-color, 10);
}

.panel-heading .border-info {
    border-width: 0;
    border-left: solid 5px @info-color !important;
}

.border-info {
    border: solid 1px @info-color;
}

.btn-info {
    border: solid 1px @info-color !important;
    color: @info-color !important;
    background-color: transparent !important;
}

.btn-info:hover {
    border: solid 1px lighten(@info-color,40) !important;
    color: darken(@info-color,10) !important;
    background-color: transparent !important;
}


.txt-warning, .txt-warning a, a.txt-warning, .btn-toolbar .btn.txt-warning {
    color: @warning-color;
}

.bg-warning {
    background-color: @warning-color !important;
    color: @txt-warning-color !important;
    padding: .5em;
}

.badge-warning, .btn-default .badge.badge-warning {
    background-color: @warning-color;
    color: @txt-warning-color;
}

.bg-warning .main-icon i {
    color: darken(@warning-color, 10);
}

.box-warning, .bg-warning.reverse {
    background-color: lighten(@warning-color, 30);
    color: @warning-color;
    border-left: solid 5px @warning-color;
    padding: .5em;
}

button.bg-warning {
    border-color: darken(@warning-color, 10);
}

.panel-heading .border-warning {
    border-width: 0;
    border-left: solid 5px @warning-color !important;
}

.border-warning {
    border: solid 1px @warning-color;
}

.btn-warning {
    border: solid 1px @warning-color !important;
    color: @warning-color !important;
    background-color: transparent !important;
}

.btn-warning:hover {
    border: solid 1px lighten(@warning-color,40) !important;
    color: darken(@warning-color,10) !important;
    background-color: transparent !important;
}

.txt-danger, .txt-danger a, a.txt-danger, .btn-toolbar .btn.txt-danger {
    color: @danger-color;
}

.bg-danger {
    background-color: @danger-color !important;
    color: @txt-danger-color !important;
    padding: .5em;
}

.badge-danger, .btn-default .badge.badge-danger {
    background-color: @danger-color;
    color: @txt-danger-color;
}

.bg-danger .main-icon i {
    color: darken(@danger-color, 10);
}

.box-danger, .bg-danger.reverse {
    background-color: lighten(@danger-color, 30);
    color: @danger-color;
    border-left: solid 5px @danger-color;
    padding: .5em;
}

button.bg-danger {
    border-color: darken(@danger-color, 10);
}

.panel-heading .border-danger {
    border-width: 0;
    border-left: solid 5px @danger-color !important
}

.border-danger {
    border: solid 1px @danger-color;
}

.btn-danger {
    border: solid 1px @danger-color !important;
    color: @danger-color !important;
    background-color: transparent !important;
}

.btn-danger:hover {
    border: solid 1px lighten(@danger-color,40) !important;
    color: darken(@danger-color,10) !important;
    background-color: transparent !important;
}

.txt-tools, .txt-tools a, a.txt-tools, .btn-toolbar .btn.txt-tools {
    color: @tools-color;
}

.bg-tools {
    background-color: @tools-color !important;
    color: @txt-tools-color !important;
    padding: .5em;
}

.badge-tools, .btn-default .badge.badge-tools {
    background-color: @tools-color;
    color: @txt-tools-color;
}

.bg-tools .main-icon i {
    color: darken(@tools-color, 10);
}

.box-tools, .bg-tools.reverse {
    background-color: lighten(@tools-color, 40);
    color: @tools-color;
    border-left: solid 5px @tools-color;
    padding: .5em;
}

button.bg-tools {
    border-color: darken(@tools-color, 10);
}

.panel-heading .border-tools {
    border-width: 0;
    border-left: solid 5px @tools-color !important;
}

.border-tools {
    border: solid 1px @tools-color;
}

.btn-tools {
    border: solid 1px @tools-color !important;
    color: @tools-color !important;
    background-color: transparent !important;
}

.btn-tools:hover {
    border: solid 1px lighten(@tools-color,40) !important;
    color: darken(@tools-color,10) !important;
    background-color: transparent !important;
}

.txt-notify, .txt-notify a, a.txt-notify, .btn-toolbar .btn.txt-notify {
    color: @notify-color;
}

.bg-notify {
    background-color: @notify-color !important;
    color: @txt-notify-color !important;
    padding: .5em;
}

.badge-notify, .btn-default .badge.badge-notify {
    background-color: @notify-color;
    color: @txt-notify-color;
}

.bg-notify .main-icon i {
    color: darken(@notify-color, 10);
}

.box-notify, .bg-notify.reverse {
    background-color: lighten(@notify-color, 40);
    color: @notify-color;
    border-left: solid 5px @notify-color;
    padding: .5em;
}

button.bg-notify {
    border-color: darken(@notify-color, 10);
}

.panel-heading .border-notify {
    border-width: 0;
    border-left: solid 5px @notify-color !important;
}

.border-notify {
    border: solid 1px @notify-color;
}

.btn-notify {
    border: solid 1px @notify-color !important;
    color: @notify-color !important;
    background-color: transparent !important;
}

.btn-notify:hover {
    border: solid 1px lighten(@notify-color,40) !important;
    color: darken(@notify-color,10) !important;
    background-color: transparent !important;
}

.txt-white, .txt-white a, a.txt-white, .btn-toolbar .btn.txt-white {
    color: white;
}

.bg-white {
    background-color: white !important;
    color: @primary-color !important;
    padding: .5em;
}


.badge-white, .btn-default .badge.badge-white {
    background-color: white;
    color: @primary-color;
}

.bg-white .main-icon i {
    color: darken(@primary-color, 10);
}

.box-white, .bg-white.reverse {
    background-color: white;
    color: @primary-color;
    border-left: solid 5px darken(white, 10);
    padding: .5em
}

button.bg-white {
    border-color: darken(white, 10);
}

.btn-white {
    border: solid 1px white !important;
    color: white !important;
    background-color: transparent !important;
}

:not(.monaco-highlighted-label) >.highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.strike {
    text-decoration: line-through;
}

.hoverUnderline, .hover-underline {
    text-decoration: none;
}

.hoverUnderline:hover, .hover-underline:hover {
    text-decoration: underline;
}

.hoverBold, .hover-bold {
    font-weight: normal;
}

.hoverBold:hover, .hover-bold:hover {
    font-weight: bold;
}

.hover-outstanding:hover {
    color: @outstanding-color;
}

.hover-primary:hover {
    color: @primary-color;
}

.hover-success:hover {
    color: @success-color;
}

.hover-info:hover {
    color: @info-color;
}

.hover-warning:hover {
    color: @warning-color;
}

.hover-danger:hover {
    color: @danger-color;
}

.hover-notify:hover {
    color: @notify-color;
}

.hover-tools:hover {
    color: @tools-color;
}

// INPUT STATES

.has-success .control-label, has-success .label {
    color: @success-color;
}

.has-success .form-control {
    color: @success-color;
    border-color: @success-color;
}

.has-success .input-group-addon, .has-success .input-group-btn .btn {
    color: @success-color;
    border-color: @success-color;
}

.has-success .input-group-addon {
    background-color: lighten(@success-color, 60);
}

.has-error .control-label, has-error .label {
    color: @danger-color;
}

.has-error .form-control {
    color: @danger-color;
    border-color: @danger-color;
}

.has-error .input-group-addon, .has-error .input-group-btn .btn {
    color: @danger-color;
    border-color: @danger-color;
}

.has-error .input-group-addon {
    background-color: lighten(@danger-color, 30);
}

.has-warning .control-label, has-warning .label {
    color: @warning-color;
}

.has-warning .form-control {
    color: @warning-color;
    border-color: @warning-color;
}

.has-warning .input-group-addon, .has-warning .input-group-btn .btn {
    color: @warning-color;
    border-color: @warning-color;
}

.has-warning .input-group-addon {
    background-color: lighten(@warning-color, 30);
}

.has-info .control-label, has-success .label {
    color: @info-color;
}

.has-info .form-control {
    color: @info-color;
    border-color: @info-color;
}

.has-info .input-group-addon, .has-info .input-group-btn .btn {
    color: @info-color;
    border-color: @info-color;
}

.has-info .input-group-addon {
    background-color: lighten(@info-color, 60);
}

.has-outstanding .control-label, has-success .label {
    color: @outstanding-color;
}

.has-outstanding .form-control {
    color: @outstanding-color;
    border-color: @outstanding-color;
}

.has-outstanding .input-group-addon, .has-outstanding .input-group-btn .btn {
    color: @outstanding-color;
    border-color: @outstanding-color;
}

.has-outstanding .input-group-addon {
    background-color: lighten(@outstanding-color, 60);
}

.has-tools .control-label, has-success .label {
    color: @tools-color;
}

.has-tools .form-control {
    color: @tools-color;
    border-color: @tools-color;
}

.has-tools .input-group-addon, .has-tools .input-group-btn .btn {
    color: @tools-color;
    border-color: @tools-color;
}

.has-tools .input-group-addon {
    background-color: lighten(@tools-color, 60);
}

.has-notify .control-label, has-success .label {
    color: @notify-color;
}

.has-notify .form-control {
    color: @notify-color;
    border-color: @notify-color;
}

.has-notify .input-group-addon, .has-notify .input-group-btn .btn {
    color: @notify-color;
    border-color: @notify-color;
}

.has-notify .input-group-addon {
    background-color: lighten(@notify-color, 60);
}

.has-primary .control-label, has-success .label {
    color: @primary-color;
}

.has-primary .form-control {
    color: @primary-color;
    border-color: @primary-color;
}

.has-primary .input-group-addon, .has-primary .input-group-btn .btn {
    color: @primary-color;
    border-color: @primary-color;
}

.has-primary .input-group-addon {
    background-color: lighten(@primary-color, 60);
}

//CARDS

.card {
    background-color: inherit;
}

.card-outstanding .flip-card-front, .card-outstanding .box {
    background-color: @outstanding-color;
    color: @txt-outstanding-color;
}

.card-outstanding .main-icon i {
    color: darken(@outstanding-color, 10);
}

.card-outstanding .more-info {
    color: @outstanding-color;
}

.card-outstanding .flip-card-back {
    background-color: lighten(@outstanding-color, 40);
    color: @outstanding-color;
    border-left: solid 5px @outstanding-color;
}

.card-primary .flip-card-front, .card-primary .box {
    background-color: @primary-color;
    color: @txt-primary-color;
}

.card-primary .main-icon i {
    color: darken(@primary-color, 10);
}

.card-primary .more-info {
    color: @primary-color;
}

.card-primary .flip-card-back {
    background-color: lighten(@primary-color, 60);
    color: @primary-color;
    border-left: solid 5px @primary-color;
}

.card-success .flip-card-front, .card-success .box {
    background-color: @success-color;
    color: @txt-success-color;
}

.card-success .main-icon i {
    color: darken(@success-color, 10);
}

.card-success .more-info {
    color: @success-color;
}

.card-success .flip-card-back {
    background-color: lighten(@success-color, 60);
    color: @success-color;
    border-left: solid 5px @success-color;
}

.card-info .flip-card-front, .card-info .box {
    background-color: @info-color;
    color: @txt-info-color;
}

.card-info .main-icon i {
    color: darken(@info-color,10);
}

.card-info .more-info {
    color: @info-color;
}

.card-info .flip-card-back {
    background-color: lighten(@info-color, 35);
    color: @info-color;
    border-left: solid 5px @info-color;
}

.card-warning .flip-card-front, .card-warning .box {
    background-color: @warning-color;
    color: @txt-warning-color;
}

.card-warning .main-icon i {
    color: darken(@warning-color, 10);
}

.card-warning .more-info {
    color: @warning-color;
}

.card-warning .flip-card-back {
    background-color: lighten(@warning-color, 30);
    color: @warning-color;
    border-left: solid 5px @warning-color;
}

.card-danger .flip-card-front, .card-danger .box {
    background-color: @danger-color;
    color: @txt-danger-color;
}

.card-danger .main-icon i {
    color: darken(@danger-color, 10);
}

.card-danger .more-info {
    color: @danger-color;
}

.card-danger .flip-card-back {
    background-color: lighten(@danger-color, 30);
    color: @danger-color;
    border-left: solid 5px @danger-color;
}

.card-tools .flip-card-front, .card-tool .box {
    background-color: @tools-color;
    color: @txt-tools-color;
}

.card-tools .main-icon i {
    color: darken(@tools-color, 10);
}

.card-tools .more-info {
    color: @tools-color;
}

.card-tools .flip-card-back {
    background-color: lighten(@tools-color, 40);
    color: @tools-color;
    border-left: solid 5px @tools-color;
}

.card-notify .flip-card-front, .card-notify .box {
    background-color: @notify-color;
    color: @txt-notify-color;
}

.card-notify .main-icon i {
    color: darken(@notify-color, 10);
}

.card-notify .more-info {
    color: @notify-color;
}

.card-notify .flip-card-back {
    background-color: lighten(@notify-color, 40);
    color: @notify-color;
    border-left: solid 5px @notify-color;
}

/* new box class for templates*/

.options-box-flex-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.options-box {
    width: 150px;
    min-height: 120px;
    margin: 10px;
    position: relative;
    background-color: #f6f6f6;
    border-radius: 6px;
    transition: all .15s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    &:hover {

        > .buttons {
            opacity: 1;
        }
    }

    &.active {
        border: solid 2px @outstanding-color;
        /***************************TODO:Alberto**************************/
        /*   &:before {
            content: "";
            position: absolute;
            top: 6px;
            right: 6px;
            height: 4px;
            width: 16px;
            background-color: @outstanding-color;
            border-radius: 6px;
            z-index: 1;
            animation: example 1s;

            @keyframes example {


                to {
                    width: 0px;
                }
            }
         */
        &:after {
            content: "";
            position: absolute;
            top: 6px;
            right: 6px;
            height: 8px;
            width: 8px;
            background-color: @outstanding-color;
            border-radius: 6px;
            /*transition: all .15s;*/
        }
        /***************************TODO:Alberto**************************/
        .pictogram > i {
            color: @outstanding-color;
        }

        .title {
            font-weight: bold;
        }
    }

    &.horizontal {
        flex-direction: row;
        justify-content: flex-start;

        > .data {
            text-align: left;
            align-items: flex-start;
        }
    }

    > .pictogram {
        padding: 8px;
    }

    > .data {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        overflow: hidden;

        > .title, > .subtitle {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: ~"calc(100% - 12px)";
            position: relative;
        }

        > .subtitle {
            font-size: 12px;
            color: #bec6cc;
        }

        > .text {
            font-size: 11px;
            width: ~"calc(100% - 11px)";
            position: relative;
            color: #bec6cc;
        }
    }


    > .buttons {
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: fade(lighten(@outstanding-color,45%), 95%);
        transition: all .15s;
        flex-wrap: wrap;

        > * {
            button, .btn, ~ button, ~ .btn {
                background: unset;
                border: unset;
                color: unset;
                margin: unset;
                padding: unset;
                font-size: unset;
                outline: unset;
                border-radius: unset;

                &:active {
                    box-shadow: unset;
                }
            }

            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            cursor: pointer;
            transition: all .15s;
            font-size: 1.4em !important;
            color: @outstanding-color !important;
            flex: 1 0 33.4%;
            .ripple(@txt-outstanding-color);

            &:hover, &.active {
                background-color: fade(@outstanding-color, 80%);
                color: @txt-outstanding-color !important;
            }

            &:first-child:nth-last-child(n + 3),
            &:first-child:nth-last-child(n + 3) ~ * {
                height: 50%;
            }
        }
    }
}
    //Special boolean
    .flx-icon.icon-bool-x:before {
        content: '\f1c3';
        color: @danger-color;
    }

    .flx-icon.icon-bool-v:before {
        content: '\ee49';
        color: @success-color;
    }

    .flx-icon.icon-bool-empty:before {
        content: '\ee49';
        color: lighten(@primary-color, 30);
    }

    .flx-icon.icon-bool-empty.notregistered:before {
        content: '\f1c3';
        color: lighten(@primary-color, 30);
    }
    //Bootstrap overloads
    .page-header {
        border-bottom: 1px solid @border-module-color;
    }

    .input-group-btn {
        font-size: 14px;
    }

    .text-muted {
        color: #bec6cc;
    }

    .btn .caret {
        margin-left: 6px;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        color: @outstanding-color;
    }

 

// flxIcons overloads
.icon-border {
    border: solid .08em @border-module-color;
}

.lobibox, .lobibox-notify-wrapper {
    z-index: 1000001!important;
}

.lobibox-backdrop {
    z-index: 1000000
}

    // lobibox overloads
.lobibox.lobibox-window {
    border-color: @danger-color;
    max-height: 90vh;
    overflow-y: auto;
}

.lobibox.lobibox-window .lobibox-header {
    background-color: @danger-color;
}

.drop-shadow {
    -webkit-box-shadow: 1px 1px 13px 0 rgba(97, 96, 97, 1);
    -moz-box-shadow: 1px 1px 13px 0 rgba(97, 96, 97, 1);
    box-shadow: 1px 1px 13px 0 rgba(97, 96, 97, 1);
}

.no-border {
    border: none;
}

.strike {
    text-decoration: line-through;
}

pre code {
    color: @danger-color;
}
// Jquery ui overloads
.ui-dialog .ui-dialog-content {
    box-sizing: unset !important;
}

.flx-dialog-modal.flx-slide .ui-widget-header {
    background-color:white !important;
    border:none;
    height: 2.8em;
    /*transition: all .5s;*/
}

.flx-dialog-modal.flx-slide .ui-dialog-titlebar-close, .flx-dialog-modal.flx-slide .ui-widget-header a.flx-icon.icon-select {
    opacity: 0;
    display: flex;
    color: @outstanding-color;
    font-size: 16px;
    right: 12px !important;
    padding: 0.8em;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    transition: all .5s;
}

.flx-dialog-modal.flx-slide .ui-widget-header a.flx-icon.icon-select {
    padding: 0.3em 1em;
}

.flx-dialog-modal.flx-slide:hover .ui-dialog-titlebar-close, .flx-dialog-modal.flx-slide:hover .ui-widget-header a.flx-icon.icon-select {
    opacity: 1;
}

body:not(.develop) .flx-dialog-modal.flx-slide .develop-only {
    display: none !important;
}

.flx-dialog-modal.flx-slide .ui-dialog-titlebar-close:hover {
    background-color: @outstanding-color;
    color: white;
    animation: ring 0.7s linear 0s infinite;
    /*transition: all .5s;*/
}

.flx-dialog-modal.flx-slide .ui-dialog-content {
    background-color: white !important;
}

.flx-dialog-modal.flx-slide span.ui-dialog-title {
    display: none;
}

.ui-widget-header {
    background: @dialog-header-color !important;
    background-image: none;
    color: @txt-dialog-header-color;
    margin: 0;
}

.ui-widget-content a {
    color: @outstanding-color;
}

.ui-dialog {
    padding: 0;
    color: @txt-color;
    background: @bg-color;
    box-shadow: 0 10px 25px 3px rgba(0, 0, 0, .15), 0 9px 35px 8px rgba(0, 0, 0, .12), 0 10px 6px -7px rgba(0, 0, 0, .23);
    box-sizing: unset !important;
    overflow: unset !important;
    z-index: 99999;
}

.flx-dialog-modal.flx-slide, .flx-dialog-modal.flx-slide .ui-corner-all {
    border-radius: 0;
}

.ui-dialog .ui-dialog-titlebar {
    padding: .1em 1em;
}

.ui-dialog .ui-dialog-title {
    width: ~"calc(100% - 67px)";
}

.ui-dialog-titlebar-close, .ui-widget-header .ui-state-default {
    font-family: 'Flexygo-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: transparent;
    background-image: none;
    border: none;
    color: @txt-header-color;
}

.ui-dialog-titlebar-close:before {
    content: '\f1c3';
}

.ui-dialog-titlebar .ui-icon {
    display: none !important
}

.ui-dialog-titlebar-minimize:before {
    content: '\eae1';
}

.ui-dialog-titlebar-restore:before {
    content: '\f1fa';
}

.ui-dialog-titlebar-collapse:before {
    content: '\ebe0';
}

.ui-dialog-titlebar-maximize:before {
    content: '\ee59';
}
//Piped list
.list-piped {
    padding-left: 0;
    list-style: none;
    text-align: center;
}

.list-piped > li {
    display: inline-block;
}


ul.list-piped li {
    list-style-position: inside;
    padding: 0;
    padding-right: 8px;
    padding-left: 5px;
    border-right: solid 1px;
    line-height: 1;
    margin-top: 4px;
}

ul.list-piped li > a:active, ul.list-piped li > a:hover {
    color: @outstanding-color;
}

ul.list-piped li:last-child {
    border-right: none 0;
}

.btn-round {
    display: block;
    border-radius: 50%;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.btn-float {
    position: absolute;
    right: 5%;
    bottom: 5%;
    z-index: 100;
}

@keyframes zoomInOut {

    0% {
        transform: scale(1.0) rotate(0deg);
    }

    50% {
        transform: scale(1.3) rotate(180deg);
    }

    100% {
        transform: scale(1.0) rotate(359deg);
    }
}

@keyframes ring {
    0% {
        transform: rotate(0deg)
    }

    25% {
        transform: rotate(10deg)
    }

    50% {
        transform: rotate(0deg)
    }

    75% {
        transform: rotate(-10deg)
    }

    100% {
        transform: rotate(0deg)
    }
}
/* The element to apply the animation to */
.zoomInOut {
    animation-name: zoomInOut;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
/* for printing*/
.htmlreport {
    background-color: white;
    height: 100%;
}


// Scrollbar
//IE
body {
    -ms-scrollbar-base-color: #cccccc;
    -ms-scrollbar-track-color: #cccccc;
    -ms-scrollbar-face-color: @outstanding-color;
    -ms-scrollbar-darkshadow-color: @outstanding-color;
    -ms-scrollbar-shadow-color: @outstanding-color;
    -ms-scrollbar-arrow-color: #cccccc;
}
//CHROME
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #cccccc;
}

::-webkit-scrollbar:horizontal {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: @outstanding-color;
    border-radius: @scrollbar-border-radius;
}

::-webkit-scrollbar-thumb:hover {
    background-color: darken(@outstanding-color, 10);
    //border:1px solid #333333;
}

::-webkit-scrollbar-thumb:active {
    background-color: darken(@outstanding-color, 20);
    //border:1px solid #333333;
}

// END SCROLL

/*//PLACE HOLDER
::-webkit-input-placeholder { // WebKit, Blink, Edge
    color: lighten(@txt-color, 25);
}

:-moz-placeholder { // Mozilla Firefox 4 to 18
    color: lighten(@txt-color, 25);
    opacity: 1;
}

::-moz-placeholder { // Mozilla Firefox 19+
    color: lighten(@txt-color, 25);
    opacity: 1;
}

:-ms-input-placeholder { // Internet Explorer 10-11
    color: lighten(@txt-color, 25);
}

::-ms-input-placeholder { // Microsoft Edge
    color: lighten(@txt-color, 25);
}
//END PLACEHOLDER*/


/* EFFECT DARK/LIGHT MODE */
.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    transition: all 0.3s ease-in;
}

.loader .loader-wrapper {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.loader .loader-wrapper span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #4e4e4e;
    opacity: 0;
    animation: loading 3.3s infinite ease-in-out;
}

.loader .loader-wrapper span:nth-of-type(1) {
    animation-delay: 1000ms;
}

.loader .loader-wrapper span:nth-of-type(2) {
    animation-delay: 800ms;
}

.loader .loader-wrapper span:nth-of-type(3) {
    animation-delay: 600ms;
}

.loader .loader-wrapper span:nth-of-type(4) {
    animation-delay: 400ms;
}

.loader .loader-wrapper span:nth-of-type(5) {
    animation-delay: 200ms;
}

@keyframes loading {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }

    33% {
        opacity: 1;
        transform: translateX(0px);
    }

    66% {
        opacity: 1;
        transform: translateX(0px);
    }

    100% {
        opacity: 0;
        transform: translateX(300px);
    }
}

#SkinModeBackground {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
    text-align: center;
    box-shadow: 5px 5px 5px 0rgba(0,0,0,0.2);
    z-index: 999;
}

#SkinModeText {
    position: relative;
    width: 100% !important;
    top: 40%;
    font-family: 'raleway';
    text-align: center;
    font-size: 100px;
    color: @outstanding-color;
}

#SkinModeIcon {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    font-size: 30em;
    opacity: 0.2;
    color: #bbb;
}

#SkinModeBackground.dark {
    background-color: #292929;

    & #SkinModeIcon {
        color: #e3e3e3;
    }

    & .loader .loader-wrapper span {
        background: #e3e3e3;
    }
}


#flx-SkinMode {
    display: flex;
    align-items: center;
    cursor: pointer;

    & span {
        padding-left: 5px;
        font-weight: bold;
    }
}

#flx-SkinModeIcon {
    width: 25px;
    height: 25px;
    background-color: #fff8e4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #db8924;
    transition: all 0.3s ease-in;
}

#flx-SkinMode.darkmode #flx-SkinModeIcon, #flx-SkinMode:hover #flx-SkinModeIcon {
    background-color: #444444;
    color: white;

    & i:before {
        content: "\f186";
    }
}

#flx-SkinMode.darkmode:hover #flx-SkinModeIcon {
    background-color: #fff8e4;
    color: #db8924;

    & i:before {
        content: "\f185";
    }
}

/*********/

.txt-uppercase{
    text-transform: uppercase;
}

html.tactilMode li.flx-tactilModeIcon {
    display: block !important;
    font-size: 1.5em;
}


.flxListDependencies {
    font-size: 10px;

    ul {
        padding-left: 1em;
        margin: 0;
    }
}

.cntHeader .cntButtons .popover{
    width: auto;
}


/*** MODULE VIEWERS ***/
#flx-viewer-module {
    font-size: 10px;
    position: relative;
    margin-right: 1em;
    height: 25px;
    width: 25px;
    top: -5px;
    animation: fadeInDelay .4s ease;
}

.flx-info-viewers {
    background-color: white;
    box-shadow: 0px 0px 8px 2px #e1e1e1;
}

.flx-info-viewers .tooltip-inner {
    background-color: white;
    color: black;
    width: 160px;
    padding-left: 1.5em;
    text-align: left;

    small {
        text-overflow: ellipsis;
        width: 120px;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
    }
}

#flx-flip-back, #flx-flip-front {
    box-shadow: inset 0 0 0 2px #eef3f7;
    text-align: center;
    padding-top: 7px;
    animation-duration: 14s;
    animation-delay: 1s;
    line-height: 1.2;
    animation-iteration-count: infinite;
    position: absolute;
    /*top: 2px;*/
    left: 0;
    border-radius: 50%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition-property: transform;
    transition-duration: .75s;
    width: 22px;
    height: 22px
}

#flx-flip-front {
    animation-name: rotateFrontCircle;
    z-index: 5;
    background-color: #fff;
    color: #12344d
}

#flx-flip-back {
    animation-name: rotateBackCircle;
    z-index: 0;
    transform: rotateY(-180deg);
    background-color: @outstanding-color;
    color: #fff
}

@keyframes rotateFrontCircle {
    0%,100%,16%,83% {
        -webkit-transform: rotateY(0);
        -ms-transform: rotateY(0);
        -o-transform: rotateY(0);
        transform: rotateY(0)
    }

    33%,67% {
        -webkit-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg)
    }
}

@keyframes rotateBackCircle {
    0%,100%,16%,83% {
        -webkit-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg)
    }

    33%,67% {
        -webkit-transform: rotateY(0);
        -ms-transform: rotateY(0);
        -o-transform: rotateY(0);
        transform: rotateY(0)
    }
}

/* GO TO TOP BUTTON */
#flx-goUpArrow {
    opacity:0;
    position: fixed;
    bottom: 0em;
    right: 1em;
    padding: 5px 7px 2px 7px;
    background-color: @outstanding-color;
    border-radius: 10%;
    color: white;
    cursor: pointer;
    transition: all 500ms;
}

#flx-goUpArrow.flx-showBottom {
    display: block;
    bottom: 1em;
    opacity: 1;
}

#flx-goUpArrow:hover {
    transform: scale(1.1,1.1) translateY(-3px);
    background-color: lighten(@outstanding-color, 15);
}


.flx-striped > :nth-child(odd) {
    background-color: fade(@primary-color,6%);
}

div.flx-slide [pagename="db6ce0fb-2f28-4056-b14e-e9aed2769f97"] flx-module{
    width: unset;
}

div.flx-slide [pagename="syspage-list-icons-simplified"] flx-module[modulename="sysmod-search-icons"] {
    position: sticky;
    top: 0;
    z-index: 9;
}
