<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Sample_Project_UnitTest.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ConfConnectionString" connectionString="Data Source=(local);Initial Catalog=Sample_Project_IC;Persist Security Info=True;User ID=sa;Password=-a123456" />
        <add name="DataConnectionString" connectionString="Data Source=(local);Initial Catalog=Sample_Project;Persist Security Info=True;User ID=sa;Password=-a123456" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <Sample_Project_UnitTest.My.MySettings>
            <setting name="UserName" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="UserGroup" serializeAs="String">
                <value>Administradores</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value>C:\Users\rpardo\Desktop\Campus\Highcoding\Samples\Sample_Project\Sample_Project</value>
            </setting>
        </Sample_Project_UnitTest.My.MySettings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="flxAccount" publicKeyToken="d94feba4661f934f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.30.0.7" newVersion="1.30.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="flxMail" publicKeyToken="d94feba4661f934f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.30.0.7" newVersion="1.30.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="flxSysProcess" publicKeyToken="d94feba4661f934f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.30.0.7" newVersion="1.30.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="flxSearch" publicKeyToken="d94feba4661f934f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.30.0.7" newVersion="1.30.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="flxEncoder" publicKeyToken="d94feba4661f934f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.30.0.7" newVersion="1.30.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="flxControls" publicKeyToken="d94feba4661f934f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.30.0.7" newVersion="1.30.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="flxSignalR" publicKeyToken="d94feba4661f934f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.30.0.7" newVersion="1.30.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="flxUtilities" publicKeyToken="d94feba4661f934f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.26.0.5" newVersion="1.26.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="flxSession" publicKeyToken="d94feba4661f934f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.26.0.5" newVersion="1.26.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="flxSettings" publicKeyToken="d94feba4661f934f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.26.0.5" newVersion="1.26.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="flxEnvironment" publicKeyToken="d94feba4661f934f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.26.0.5" newVersion="1.26.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="flxSecurity" publicKeyToken="d94feba4661f934f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.26.0.5" newVersion="1.26.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="flxLocalization" publicKeyToken="d94feba4661f934f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.26.0.5" newVersion="1.26.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="flxGlobals" publicKeyToken="d94feba4661f934f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.26.0.5" newVersion="1.26.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="flxObjectConfig" publicKeyToken="d94feba4661f934f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.26.0.5" newVersion="1.26.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="flxEntity" publicKeyToken="d94feba4661f934f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.26.0.5" newVersion="1.26.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="flxDataManager" publicKeyToken="d94feba4661f934f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.26.0.5" newVersion="1.26.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="dotless.Core" publicKeyToken="96b446c9e63eae34" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.0" newVersion="1.5.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="flxMock" publicKeyToken="d94feba4661f934f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.26.0.5" newVersion="1.26.0.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
