body, form {
    background: #333333;
    color: #dddddd;
    height: 100%;
    font-family: 'latolight','Helvetica, Arial','sans-serif';
}

a {
    background: #333333;
    color: #dddddd;
    text-decoration: none;
}



.trademark {
    user-select: none;
    font-family: 'raleway', 'Helvetica', 'Arial,sans-serif';
    text-align: center;
    font-size: 4em;
}

    .trademark .char1, .trademark .char2, .trademark .char3, .trademark .char4,
    .trademark .char5, .trademark .outstanding {
        color: #2DB7B0;
    }

.error {
    color: red;
}

.azureSignInButton {
    background-color: #1c1c1c;
    border-radius: 10px;
}

.azureSignInButton:hover {
    background-color: black;
}

.login {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    height: 70%;
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .login td {
        display: table-cell;
        vertical-align: middle;
    }

.divlogin {
    margin: 0 auto;
    width: 400px;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
}

    .divlogin .flip-card, #license .flip-card {
        margin: 0 auto;
        width: 320px;
        height: 100px;
    }

    .divlogin .flip-card-front, #license .flip-card-front {
        width: 320px;
        height: 100px;
    }

    .divlogin .flip-card-back, #license .flip-back {
        width: 320px;
        height: 100px;
    }

.logo {
    background-image: url('../../img/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    height: 75px;
    width: 300px;
    margin-bottom: 30px;
    margin: 0 auto;
}

.login .cell {
    box-sizing: border-box;
    margin: 50px auto;
    width: 300px;
    text-align: center;
}

.login .others {
    margin: 20px auto;
    width: 300px;
    text-align: center;
}

.login i {
    display: block;
    float: left;
    margin-right: 10px;
    line-height: 1.6em;
    font-size: 1.4em;
}

.login h2 i {
    float: none;
}

.login input[type='text'], .login input[type='password'] {
    font-size: 1.5em;
    background: transparent;
    color: #dddddd;
    border: none;
    border-bottom: solid 1px #dddddd;
    width: 255px;
}

    .login input[type='text']:focus, .login input[type='password']:focus {
        outline: none;
    }


 .mainbutton {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 2em;
    padding: 5px;
    text-align: center;
    background: #333333;
    color: #ffffff;
    text-decoration: none;
    width: 75%;
    background-color: #2db7b0;
    border-radius: 10px;
}

 .mainbutton:hover {
        background-color: silver;
    }


.confirm, .confirm h1, .confirm h2 {
    text-align: center;
}

#pass-status {
   position: relative;
   float: right;
   top: -20px;
   left: -10px;
}

@keyframes flx-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.login section.flx-loading-effect {
    position: relative;
    justify-content: center;
    /*align-items: center;*/
}


.login .flx-loader-effect {
    width: 48px;
    height: 48px;
    border: 4px solid white;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    -webkit-animation: rotation 1s linear infinite;
    animation: flx-spin 1s linear infinite;
}

    .login .flx-loader-effect:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 56px;
        width: 56px;
        height: 56px;
        max-height: 56px;
        border-radius: 50%;
        border: 3px solid;
        border-color: #2DB7B0 transparent;
    }

.login div.flx-loader-text {
    font-weight: 300;
    font-size: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 85px;
}

/*LOBIBOX*/

div.lobibox.lobibox-confirm .btn-close,
div.lobibox.lobibox-info .btn-close,
div.lobibox.lobibox-prompt .btn-close {
    position: absolute;
    font-size: 1.2em;
    right: 0;
    top: 0;
    padding: 4px 10px;
    border-radius: 0px 5px;
    transition: all 0.2s ease-in;
}

    div.lobibox.lobibox-confirm .btn-close:hover,
    div.lobibox.lobibox-info .btn-close:hover,
    div.lobibox.lobibox-prompt .btn-close:hover {
        background-color: #292929 /*var(--nav-color)*/;
        color: white;
        text-shadow: none;
    }

button.lobibox-btn {
    margin: 0;
    border-radius: 5px;
    padding: 9px 22px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    color: #fff;
}

    button.lobibox-btn.lobibox-btn-cancel {
        background-color: #bbbfcf;
        border: none;
    }

        button.lobibox-btn.lobibox-btn-cancel:hover {
            background-color: #a4a8ba;
            color: #fff;
        }

div.lobibox.lobibox-confirm,
div.lobibox.lobibox-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #292929 /*var(--nav-color)*/;
    border-radius: calc(5px * 2);
    border: none;
}

    div.lobibox.lobibox-confirm .lobibox-header,
    div.lobibox.lobibox-info .lobibox-header {
        background-color: transparent;
        margin-top: 2em;
        color: #cdcecf /*var(--txt-color)*/;
        padding-top: 15px;
    }

        div.lobibox.lobibox-confirm .lobibox-header .lobibox-title,
        div.lobibox.lobibox-info .lobibox-header .lobibox-title {
            font-weight: 600;
        }

        div.lobibox.lobibox-confirm .lobibox-header .btn-close,
        div.lobibox.lobibox-info .lobibox-header .btn-close {
            position: absolute;
            font-size: 1.2em;
            right: 0;
            top: 0;
            padding: 4px 10px;
            border-radius: 0px calc(5px * 2);
            transition: all 0.2s ease-in;
        }

            div.lobibox.lobibox-confirm .lobibox-header .btn-close:hover,
            div.lobibox.lobibox-info .lobibox-header .btn-close:hover {
                background-color: #292929 /*var(--nav-color)*/;
                color: white;
                text-shadow: none;
            }

    div.lobibox.lobibox-confirm .lobibox-body,
    div.lobibox.lobibox-info .lobibox-body {
        position: initial;
        display: flex;
        justify-content: center;
        background-color: #292929 /*var(--module-color)*/;
        text-align: center;
        height: max-content !important;
        max-height: 8em !important;
        overflow-y: auto;
    }

        div.lobibox.lobibox-confirm .lobibox-body::-webkit-scrollbar,
        div.lobibox.lobibox-info .lobibox-body::-webkit-scrollbar {
            border-radius: 5px;
        }

        div.lobibox.lobibox-confirm .lobibox-body .lobibox-icon-wrapper,
        div.lobibox.lobibox-info .lobibox-body .lobibox-icon-wrapper {
            display: flex;
            position: absolute;
            width: 80px;
            height: 1.3em;
            top: -0.5em;
            background-color: white;
            z-index: -1;
            border-radius: 50%;
            justify-content: center;
        }

            div.lobibox.lobibox-confirm .lobibox-body .lobibox-icon-wrapper i,
            div.lobibox.lobibox-info .lobibox-body .lobibox-icon-wrapper i {
                color: #292929 /*var(--nav-color)*/;
                font-size: 75px;
            }

    div.lobibox.lobibox-confirm .lobibox-footer,
    div.lobibox.lobibox-info .lobibox-footer {
        background-color: #292929 /*var(--module-color)*/;
        width: 35%;
        display: flex;
        justify-content: space-evenly;
        padding: 15px 6px;
    }

        div.lobibox.lobibox-confirm .lobibox-footer button,
        div.lobibox.lobibox-info .lobibox-footer button {
            background-color: #292929 /*var(--nav-color)*/;
            border: 1px solid #fff;
            margin: 0;
            border-radius: 5px;
            font-weight: bold;
            color: #fff;
            padding: 9px 22px;
            font-size: 15px;
        }

            div.lobibox.lobibox-confirm .lobibox-footer button:hover,
            div.lobibox.lobibox-info .lobibox-footer button:hover {
                background-color: #101010 /*darken(var(--nav-color), 5%)*/;
                color: #fff;
            }

            div.lobibox.lobibox-confirm .lobibox-footer button.lobibox-btn-no,
            div.lobibox.lobibox-info .lobibox-footer button.lobibox-btn-no {
                background-color: #bbbfcf;
            }

                div.lobibox.lobibox-confirm .lobibox-footer button.lobibox-btn-no:hover,
                div.lobibox.lobibox-info .lobibox-footer button.lobibox-btn-no:hover {
                    background-color: #a4a8ba;
                }
