
flx-user {
    display: block;

    div.profile-mini {
        display: flex;
        align-items: center;

        &:hover {
            color: dbColor(outstandingColor);
        }

        div {
            margin-right: 12px;

            img {
                width: 28px;
                border-radius: 30px;
            }
        }

        div {
            span {
                font-size: .8em;

                @media (max-width: dbSize(medium)) {
                    font-size:unset;
                }
            }

            p {
                font-size: .6em;
                margin: unset;
            }
        }
    }
}
/*TODO: Use "flexbox" to align the li*/
flx-nav[mode=menu] > ul > li[typeid="10"][class*="userwc"] > span {
    padding: 9px 0 0 0;
}


.profilepopover{
    min-width:800px;
}



