flx-chatter, .flx-chatter {

    .chatter_shadow() {
        @box-shadow: 0 2px 2px 0 rgba(0,0,0,0.08), 0 3px 1px -2px rgba(0,0,0,.06), 0 1px 5px 0 rgba(0,0,0,.14);
        -webkit-box-shadow: @box-shadow;
        -moz-box-shadow: @box-shadow;
        box-shadow: @box-shadow;
    }

    .chatter_transition(@property: all, @duration: .15s, @function: ease-in-out, @delay: 0s) {
        @transition: @property @duration @function @delay;
        -webkit-transition: @transition;
        -moz-transition: @transition;
        -o-transition: @transition;
        transition: @transition;
    }

    @chatter_containers_border_radius: 6px;
    @chatter_controls_border_radius: 4px;

    &.chatter-popover {
        max-width: none;
        border: unset;
        box-shadow: 0 0px 20px rgba(0, 0, 0, .1);

        .arrow {
            border-color: transparent !important;
            filter: drop-shadow(0 0px 20px rgba(0, 0, 0, .1));
        }

        .chatter_message_document {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: @chatter_containers_border_radius;
            background-color: fade(dbColor(OutstandingColor), 10);
            color: dbColor(OutstandingColor);
            overflow: hidden;
            .chatter_transition();
            width: 300px;
            height: 36px;
            margin: 10px 0px;
            padding: 0px 10px;

            > div:first-child {
                max-width: 92%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                > i {
                    margin-right: 6px;
                }

                > small {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            a {
                color: unset;
                text-decoration: unset;

                .chatter_message_download {
                    cursor: pointer;
                    opacity: .8;
                    font-weight: bold;
                    .chatter_transition();
                    border-radius: @chatter_controls_border_radius;
                    padding: 4px 6px;

                    &:hover {
                        opacity: 1;
                        background-color: fade(dbColor(OutstandingColor), 20);
                    }
                }
            }
        }
    }

    .DEVELOPING {
        visibility: hidden !important;
    }

    .start_info {
        font-size: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px;

        i {
            cursor: pointer;
            margin-left: 10px;
            padding: 10px;
            border-radius: @chatter_containers_border_radius;
            border: 1px solid transparent;
            background-color: rgba(170, 170, 170, 0.15);
            .chatter_transition();

            &:hover {
                color: dbColor(OutstandingColor);
                border-color: unset;
                background-color: unset;
            }
        }
    }

    .chatter {
        width: 100%;
        margin: 0 auto;
        background: white;
        -ms-flex: 1000 0 auto;
        -moz-flex: 1000 0 auto;
        -webkit-box-flex: 1000;
        -webkit-flex: 1000 0 auto;
        flex: 1000 0 auto;
        margin-right: auto;
        margin-left: auto;
        padding-left: 16px;
        padding-right: 16px;
        padding: 8px 0;

        @media screen and (min-width: 991px) {
            width: 95%;
        }

        [type="button"],
        textarea {
            outline: none !important;
            box-shadow: none;
        }

        .chatter_topbar {
            height: 33px;
            position: relative;
            margin: 16px 0 0;
            padding: 0;
            display: -ms-flexbox;
            display: -moz-box;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
        }

        .chatter_composer {
            border-radius: @chatter_containers_border_radius;
            -ms-flex-flow: row wrap;
            -moz-flex-flow: row wrap;
            -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
            /*------*/
            padding: 18px;
            //border: 1px solid #e5e5e5;
            border-top: none;
            /*-----*/
            position: relative;
            -ms-flex: 0 0 auto;
            -moz-flex: 0 0 auto;
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
            display: -ms-flexbox;
            display: -moz-box;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            margin: 1px 0;
            border-top: none;
            background-color: rgba(60, 60, 70, 0.3);

            @media screen and (min-width: 991px) {
                padding-left: 62px;
            }

            .chatter_composer_container {
                position: relative;
                -ms-flex: 1 0 100%;
                -moz-flex: 1 0 100%;
                -webkit-box-flex: 1;
                -webkit-flex: 1 0 100%;
                flex: 1 0 100%;
                width: 100%;

                .chatter_avatar {
                    position: absolute;
                    top: 0;
                    left: -50px;
                    bottom: auto;
                    right: auto;
                    width: 40px;
                    height: auto;
                }

                .chatter_composer_section {
                    padding: 10px 10px 0;
                    border-radius: @chatter_containers_border_radius;
                    position: relative;
                    background: white;
                    /*TEMPORAL*/
                    box-shadow: 0 0 26px 0px rgba(0, 0, 0, 0.12);

                    .chatter_composer_input {
                        .chatter_composer_parent_message {
                            border-radius: @chatter_containers_border_radius;
                            border-left: 4px solid dbColor(OutstandingColor);
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            opacity: 0;
                            height: 0;
                            .chatter_transition();
                            overflow: hidden;
                            background-color: rgba(60, 60, 70, 0.1);

                            > div {
                                max-width: 92%;

                                > small > p {
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                }
                            }

                            .chatter_composer_parent_message_delete {
                                cursor: pointer;
                                opacity: .8;
                                font-weight: bold;
                                .chatter_transition();

                                &:hover {
                                    opacity: 1;
                                    color: dbColor(DangerColor);
                                }
                            }
                        }

                        .chatter_composer_textarea {
                            resize: none;
                            padding: 0 0 10px;
                            width: 100%;
                            border: none;
                            height: 50px;
                            overflow: hidden;
                        }

                        .chatter_composer_tools {
                            border-top: 1px solid #e5e5e5;
                            padding: 2px 0;

                            > button {
                                opacity: 0.8;
                                border: none;
                                color: #666666;
                                background-color: #ffffff;
                                border-radius: @chatter_controls_border_radius;
                                font-size: 18px;
                                .chatter_transition();

                                &:hover:not([disabled]),
                                &:active:not([disabled]) {
                                    opacity: 1;
                                    color: #666666;
                                    background-color: #e6e6e6;
                                    border-color: #e0e0e0;
                                }

                                &[disabled] {
                                    opacity: .3;
                                    cursor: unset;
                                }
                            }

                            .chatter_avatar_mini {
                                width: 26px;
                            }

                            .chatter_composer_button_send {
                                color: dbColor(OutstandingColor) !important;
                            }

                            .chatter_composer_button_save {
                                color: dbColor(OutstandingColor) !important;
                            }

                            .chatter_composer_button_emoji {
                            }

                            .chatter_composer_button_add_attachment {
                            }

                            .chatter_composer_button_full_composer {
                                position: absolute;
                                top: auto;
                                left: auto;
                                bottom: auto;
                                right: 10px;
                            }
                        }

                        .chatter_composer_attachments {
                            overflow: hidden;

                            .chatter_composer_attachment {
                                width: 92%;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                border-radius: @chatter_containers_border_radius;
                                background-color: fade(dbColor(OutstandingColor), 10);
                                color: dbColor(OutstandingColor);
                                overflow: hidden;
                                .chatter_transition();
                                opacity: 0;
                                height: 0;
                                margin: 0; /*10px 0px;*/
                                padding: 0; /*8px 6px;*/
                                > div:first-child {
                                    max-width: 92%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;

                                    > i {
                                        margin-right: 6px;
                                    }

                                    > small {
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                    }
                                }

                                .chatter_composer_attachment_delete {
                                    cursor: pointer;
                                    opacity: .8;
                                    font-weight: bold;
                                    .chatter_transition();

                                    &:hover {
                                        opacity: 1;
                                        color: dbColor(DangerColor);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .chatter_composer_send {


                .chatter_composer_button_send {
                    text-transform: uppercase;
                    -ms-flex: 1 0 100%;
                    -moz-flex: 1 0 100%;
                    -webkit-box-flex: 1;
                    -webkit-flex: 1 0 100%;
                    flex: 1 0 100%;
                    background-color: dbColor(OutstandingColor);
                    color: #fff;
                    border-radius: @chatter_controls_border_radius;
                    .chatter_transition();

                    &[disabled] {
                        opacity: .3;
                        cursor: unset;
                    }

                    &:not([disabled]):hover {
                        background-color: darken(dbColor(OutstandingColor),15);
                    }
                }
            }
        }

        .chatter_thread {
            padding: 25px 0px;

            .chatter_thread_date_separator {
                margin-top: 15px;
                margin-bottom: 30px;
                border-bottom: 1px solid #d9d7d7;
                text-align: center;

                .chatter_thread_date {
                    position: relative;
                    top: 10px;
                    margin: 0 auto;
                    padding: 0 10px;
                    font-weight: bold;
                    background: white;
                }
            }

            .chatter_thread_message {
                display: -ms-flexbox;
                display: -moz-box;
                display: -webkit-box;
                display: -webkit-flex;
                display: flex;
                flex-wrap: wrap;
                padding: 8px 16px;
                margin: 14px 10px;
                border-radius: @chatter_containers_border_radius;
                background-color: rgba(60, 60, 70, 0.1);
                -webkit-transition: background-color 0.8s ease-in-out 1s, opacity 0.15s ease-in-out 0s, height 0.15s ease-in-out 0s, padding 0.15s ease-in-out 0s, margin 0.15s ease-in-out 0s;
                -moz-transition: background-color 0.8s ease-in-out 1s, opacity 0.15s ease-in-out 0s, height 0.15s ease-in-out 0s, padding 0.15s ease-in-out 0s, margin 0.15s ease-in-out 0s;
                -o-transition: background-color 0.8s ease-in-out 1s, opacity 0.15s ease-in-out 0s, height 0.15s ease-in-out 0s, padding 0.15s ease-in-out 0s, margin 0.15s ease-in-out 0s;
                transition: background-color 0.8s ease-in-out 1s, opacity 0.15s ease-in-out 0s, height 0.15s ease-in-out 0s, padding 0.15s ease-in-out 0s, margin 0.15s ease-in-out 0s;

                + div {
                    .chatter_transition(@property: opacity, @delay: .05s)
                }

                &.new_message {
                    background-color: fade(dbColor(OutstandingColor), 60);
                    opacity: 0;
                    height: 0;
                    padding-top: 0;
                    padding-bottom: 0;
                    margin-top: 0;
                    margin-bottom: 0;
                    overflow: hidden;

                    + div {
                        opacity: 0;
                    }
                }

                .chatter_thread_message_sidebar {
                    -ms-flex: 0 0 40px;
                    -moz-flex: 0 0 40px;
                    -webkit-box-flex: 0;
                    -webkit-flex: 0 0 40px;
                    flex: 0 0 36px;
                    margin: 2px 10px 2px 0;
                    text-align: center;
                    font-size: smaller;

                    .chatter_thread_message_avatar {
                        max-width: 40px;
                    }
                }

                .chatter_thread_message_core {
                    -ms-flex: 1 1 auto;
                    -moz-flex: 1 1 auto;
                    -webkit-box-flex: 1;
                    -webkit-flex: 1 1 auto;
                    flex: 1 1 auto;
                    min-width: 0;
                    max-width: 100%;
                    word-wrap: break-word;

                    .shadow_thread {
                        box-shadow: 0 0 26px 0px rgba(0, 0, 0, 0.12);
                        padding: 6px;
                        background-color: white;
                        border-radius: 6px;
                    }

                    .chatter_composer_attachments_edit {
                        overflow: hidden;

                        .chatter_composer_attachment_edit {
                            width: 90%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            border-radius: @chatter_containers_border_radius;
                            background-color: fade(dbColor(OutstandingColor), 10);
                            color: dbColor(OutstandingColor);
                            overflow: hidden;
                            .chatter_transition();
                            opacity: 0;
                            height: 0;
                            margin: 0; /*10px 0px;*/
                            padding: 0; /*8px 6px;*/
                            > div:first-child {
                                max-width: 92%;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                > i {
                                    margin-right: 6px;
                                }

                                > small {
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                }
                            }

                            .chatter_composer_attachment_delete {
                                cursor: pointer;
                                opacity: .8;
                                font-weight: bold;
                                .chatter_transition();

                                &:hover {
                                    opacity: 1;
                                    color: dbColor(DangerColor);
                                }
                            }
                        }
                    }

                    .chatter_composer_tools_edit {
                        border-top: 1px solid #e5e5e5;
                        background-color: white;
                        border-radius: 0px 0px 6px 6px;

                        > button {
                            opacity: 0.8;
                            border: none;
                            color: #666666;
                            background-color: #ffffff;
                            border-radius: @chatter_controls_border_radius;
                            font-size: 18px;
                            .chatter_transition();

                            &:hover:not([disabled]),
                            &:active:not([disabled]) {
                                opacity: 1;
                                color: #666666;
                                background-color: #e6e6e6;
                                border-color: #e0e0e0;
                            }

                            &[disabled] {
                                opacity: .3;
                                cursor: unset;
                            }
                        }

                        .chatter_avatar_mini {
                            width: 26px;
                        }

                        .chatter_composer_button_send {
                            color: dbColor(OutstandingColor) !important;
                        }

                        .chatter_composer_button_save {
                            color: dbColor(OutstandingColor) !important;
                        }

                        .chatter_composer_button_emoji {
                        }

                        .chatter_composer_button_add_attachment {
                        }

                        .chatter_composer_button_full_composer {
                            position: absolute;
                            top: auto;
                            left: auto;
                            bottom: auto;
                            right: 10px;
                        }
                    }

                    .chatter_composer_save {

                        .chatter_composer_button_save {
                            text-transform: uppercase;
                            -ms-flex: 1 0 100%;
                            -moz-flex: 1 0 100%;
                            -webkit-box-flex: 1;
                            -webkit-flex: 1 0 100%;
                            flex: 1 0 100%;
                            background-color: dbColor(OutstandingColor);
                            color: #fff;
                            border-radius: @chatter_controls_border_radius;
                            .chatter_transition();
                        }
                    }

                    .chatter_thread_message_info {
                        margin-bottom: 2px;
                        color: #777777;

                        .chatter_thread_author {
                            /*color: #2f3136;*/
                        }

                        .chatter_thread_info_separator {
                            margin: 6px;
                            width: 1px;
                            border-left: 1px solid #c8c8c8;
                        }

                        .chatter_thread_icons {
                            .chatter_thread_icon {
                                opacity: 0.6;
                                cursor: pointer;
                                padding: 2px;
                                .chatter_transition();

                                &:hover {
                                    opacity: 1;
                                }

                                &[disabled] {
                                    opacity: .3;
                                    cursor: unset;
                                }
                            }

                            .chatter_thread_message_reply {
                                transform: rotateY(180deg);
                                font-size: 20px;
                                margin: -4px 0;
                            }

                            .chatter_thread_message_attachments {
                                background-color: rgba(45, 183, 176, 0.1);
                                border-radius: 4px;
                                padding: 4px 6px 4px 5px;
                                color: var(--outstanding-color);

                                > i {
                                    margin-right: 4px;
                                }
                            }

                            > .fa-star {
                                color: gold;
                            }
                        }
                    }

                    .chatter_thread_message_content {

                        p {
                            margin: unset;
                            white-space: pre-wrap;
                        }

                        .chatter_composer_textarea_edit {
                            resize: none;
                            padding: 5px 5px;
                            max-width: 100%;
                            max-height: 100%;
                            border: none;
                            border-radius: 6px 6px 0 0;
                            width: 100%;
                            
                        }
                    }
                }

                .chatter_thread_message_children {
                    width: 100%;
                    background: rgba(255, 255, 255, 0.9);
                    margin-top: 10px;
                    margin-bottom: 2px;
                    border-radius: @chatter_containers_border_radius;
                }
            }
        }
    }
}
